.parallax-principal {
    position: relative;
    top: -70px;
    width: 100%;
    height: 100%!important;
}

.img-parallax {
    filter: brightness(50%);
}

.titulo-parallax {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255,255,255);
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    line-height: 1.5em;
    margin: 18% auto;
    margin-right: 40%;
    max-width: 50%;
    text-align: left;
    text-transform: capitalize;
}

.subtitulo-parallax{
    color: rgb(255,255,255);
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5em;
    text-align: left;
    max-width: 80%;
    margin: -18% auto;
}

.btn-corousel {
    background-color: rgb(97, 125, 63) !important;
    border-radius: 50px !important;
    position: absolute!important;
    margin: 20% auto!important;
    left: 10%!important;
}

.btn-corousel:hover::before {
    opacity:1;
    background-color: rgb(164, 213, 93);
}

.btn-corousel:before {
    content: '';
    opacity: 0;
    background-color: rgb(164, 213, 93);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity .2s;
    z-index: -1;
}

.imagen-corousel{
    width: 100%;
    height: 100%;
    filter: brightness(80%);
}
/* paseos header END */
/* paseos INFO START*/
.title-paseos {
    color: rgb(33,34,64);
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    line-height: 1.6em;
    margin-bottom: 48px;
    margin-top: 0px;
}

.paseos-info {
    color: rgb(137, 137, 137);
    font-size: 16px;
    text-align: justify;
}

.icono-paseos {
    color: rgb(97, 125, 63);
}

.card-infopaseos {
    height: 205px;
    width: 100%;
    box-shadow: 0px 0px 20px rgb(217,217,217)!important;
    border-radius: 20px!important;
    padding: 1.5em 5% 0!important;
    text-align: center;
}

.card-title-paseos {
    font-size: 16px !important;
    color: rgb(33,34,64)!important;
    font-weight: 500!important;
    line-height: 1.6!important;
    margin-bottom: 10px!important;
}

.card-image {
    max-height: 180px!important;
    max-width: 50%!important;
    margin-left: 25%!important;
    margin-right: 25%!important;
}

/* paseos INFO END*/
.parallax-medio {
    height: 250px!important;
    width: 100%!important;
    margin-top: 50px!important;
}
/* paseos FORM START*/
.row-form{
    margin-bottom: 0px;
}

.card-form {
    border-radius: 15px!important;
    box-shadow: 0px 5px 10px 5px rgba(121,121,121,.41);
    width: 100%;
    padding: 10px;
}

.title-paseos2 {
    color: rgb(33,34,64);
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    line-height: 1.6em;
    margin-bottom: 48px;
    margin-top: 55px!important;
}

.title-form {
    font-size: 16px !important;
    color: rgb(33,34,64)!important;
    text-align: center;
    font-weight: 500!important;
    line-height: 1.6!important;
    margin-bottom: 10px!important;
    margin-top: 0px!important;
}
/* CONTAINERS */
.radio-box {
    margin: 0% 0% 1.5% 0%;
    width: 200px;
}

/* CLEARFIX */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* FORM */
.form .plan input, .form .payment-plan input, .form .payment-type input{
    display: none;
}

.form label{
    position: relative;
    color: rgb(97, 125, 63);
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    display: block;
    cursor: pointer;
    border: 1px solid rgb(97, 125, 63);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgb(97, 125, 63);
    left: 65px!important;
}

.form .plan input:checked+label, .form .payment-plan input:checked+label, .form .payment-type input:checked+label{
    border: 1px solid rgb(164, 213, 93);
    border-bottom: 5px solid rgb(164, 213, 93);
    transition: 0.1s ease;
    box-shadow: none;
}


.form .plan input:checked+label:after, form .payment-plan input:checked+label:after, .form .payment-type input:checked+label:after {
    content: "\2713";
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    border: 2px solid rgb(164, 213, 93);
    background-color: rgb(255, 255, 255);
    z-index: 0;
    position: absolute;
    top: -10px;
    right: -10px;
}

i {
    margin-right: 5px;
}

.divider {
    margin-bottom: 5px;
    margin-top: 0px;
}

#resultadoPaseos {
    font-size: 32px!important;
    color: rgb(164, 213, 93);
    text-align: center;
    font-weight: 700;
}

.btn-reservas {
    background-color: rgb(97, 125, 63) !important;
    border-radius: 15px !important;
    color: white !important;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px!important;
}

.btn-reservas:hover::before {
    opacity: 1;
    background-color: rgb(164, 213, 93);
}

.btn-reservas:before {
    content: '';
    opacity: 0;
    background-color: rgb(164, 213, 93) !important;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity .2s;
    z-index: -1;
}

.datepicker, .timepicker {
    width: 70%!important;
    margin-left: 15%!important;
    margin-right: 15%!important;
}

.taxican-reserva {
    margin-top: 0px;
    font-size: 12px!important;
    width: 80%;
    margin-left: 10%;
}

.taxican-label {
    position: static!important;
    color: rgb(137, 137, 137)!important;
    background-color: inherit!important;
    font-size: 14px;
    text-align: center;
    height: 0px!important;
    line-height: 0px!important;
    display: block;
    cursor: pointer;
    border: 0px!important;
    border-radius: 0px!important;
    box-shadow: 0px!important;
    box-sizing: inherit!important;
}
