<head>
  <link rel="stylesheet" href="404.css" />
</head>

<section>
  <% include header.ejs %>
</section>

<!-- foto banner START-->
<div class="parallax-container">
  <div class="parallax"><img src="pagina-no-encontrada.jpg" alt="error 404" title="error 404" class="img-parallax"></div>
  <h5 class="titulo-noEncontrado"> Error 404 </h5>
  <p class="subtitulo-noencontrado"> Lo sentimos, pero la página que busca no existe. </p>
</div>

<section>
  <% include footer.ejs %>
</section>
