<head>
  <link rel="stylesheet" href="500.css" />
</head>

<section>
  <% include header.ejs %>
</section>

<!-- foto banner START-->
<div class="parallax-container">
  <div class="parallax"><img src="pagina-no-encontrada.jpg" alt="error 500" title="error 500" class="img-parallax"></div>
  <h5 class="titulo-noEncontrado"> Error 500 </h5>
  <p class="subtitulo-noencontrado">  Lo sentimos, pero el servidor no está funcionando correctamente. Intentalo de nuevo más tarde. </p>
</div>

<section>
  <% include footer.ejs %>
</section>
