<head>
  <link rel="stylesheet" href="ansiedad.css" />
</head>

<section>
  <% include header.ejs %>
</section>
<!-- foto banner START-->
<div class="parallax-container">
  <div class="parallax"><img src="psicologa-ansiedad.jpg" alt="psicologa en ansiedad" title="psicologa especialista en ansiedad" class="img-parallax"></div>
  <h2 class="titulo-parallax"> ANSIEDAD </h2>
  <a class="read-more subtitulo-parallax1 subtitulo-parallax1-1" href="/">INICIO</a><i class="tiny material-icons icono-parallax">chevron_right</i><a class="read-more subtitulo-parallax1" href="/#tratamiento">TRATAMIENTOS</a><i class="tiny material-icons icono-parallax">chevron_right</i><a class="subtitulo-parallax">ANSIEDAD</a>
</div>
<!-- foto banner END -->
<!-- CUERPO SERVICE START -->
<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <h1 class="titulo-texto"> ¿Qué es la ansiedad? </h1>
      <p>La ansiedad es la alteración más común en la población general y afecta a todas las edades aunque se da con más frecuencia en mujeres. Existen numerosas definiciones y explicaciones sobre ansiedad, pero de forma muy simple, podríamos decir que la ansiedad es un sentimiento de miedo que persiste durante la mayor parte del día. Puede ser intensa y te debilita.</p>
      <p>La ansiedad puede llevarte a dejar de hacer cosas que disfrutas y que siempre te han gustado. En casos extremos puede llegar a mantenerte en un estado de shock continuo donde tengas miedo de entrar en un ascensor, coger el metro, cruzar la calle, conducir o incluso salir de casa. </p>
      <p>La ansiedad requiere de tratamiento psicológico ya que puede convertirse en un importante problema de salud y repercutir en todas nuestras actividades diarias, laborales, sociales y familiares.</p>
      <p>Principales síntomas de la Ansiedad:</P>
      <div class="row fila-check-simptomas1">
        <ul>
          <li><i class="material-icons icono-check">check</i><a class="texto-simptomas">Intranquilidad constante.</a></li>
          <li><i class="material-icons icono-check">check</i><a class="texto-simptomas">Elevación del ritmo cardiaco.</a></li>
          <li><i class="material-icons icono-check">check</i><a class="texto-simptomas">Aceleración de la respiración y/o sensación de ahogo.</a></li>
          <li><i class="material-icons icono-check">check</i><a class="texto-simptomas">Problemas de concentración.</a></li>
        </ul>
      </div>
      <div class="row fila-check-simptomas2">
        <ul>
          <li><i class="material-icons icono-check">check</i><a class="texto-simptomas">Mareos o náuseas.</a></li>
          <li><i class="material-icons icono-check">check</i><a class="texto-simptomas">Problemas de insomnio.</a></li>
          <li><i class="material-icons icono-check">check</i><a class="texto-simptomas">Problemas con la alimentación (picoteo).</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8 l8">
      <h2 class="titulo-texto"> Tipos de Ansiedad </h2>
      <p>La ansiedad puede desencadenar diferentes problemas psicológicos. Estos pueden ser:</p>
      <p><b>Ansiedad por separación:</b> miedo inapropiado ante la separación de familia, pareja, amigos,...
<b>Fobia específica:</b> aves, arañas,...
<b>Ansiedad social:</b> miedo a hacer el ridículo, a no ser adecuado en situaciones habituales.
<b>Pánico:</b> Ataques de ansiedad intensos, imprevistos y recurrentes.
<b>Agorafobia:</b>miedo o ansiedad intensa ante el uso del transporte público, al estar en espacios abiertos o en sitios cerrados, al hacer coa o estar en una aglomeración, o sencillamente a estar fuera de casa sólo.
<b>Ansiedad Generalizada:</b>preocupación excesiva, difícil de controlar, acompañada de síntomas como inquietud fatiga, dificultad para concentrarse, irritabilidad, tensión muscular, insomnio.
<b>Trastorno Obsesivo Compulsivo:</b> Con presencia de:
-<i>Obsesiones:</i> pensamientos, impulsos o imágenes recurrentes y persistentes que se experimentan como intrusas y no deseadas y que causan ansiedad y malestar importante.
Normalmente se intenta suprimir estos pensamientos, impulsos o imágenes realizando una compulsión.
-<i>Compulsiones:</i> comportamientos o actos mentales repetitivos que se realizan como respuesta a una obsesión. El objetivo es prevenir o disminuir la ansiedad.
<b>Trastorno por estrés post-traumático.</b>
      </p>
    </div>
    <div class="col s12 m4 l4">
      <a><img src="tipos-ansiedad.jpg" alt="tipos de ansiedad" title="tipos de ansiedad" class="image-service1"></a>
      <a><img src="tratamiento-ansiedad.jpg" alt="tratamiento psicologico para ansiedad" title="tratamiento psicologico para ansiedad" class="image-service2"></a>
    </div>
  </div>
  <h2 class="titulo-texto"> TRATAMIENTO Y TERAPIA PSICOLOGICA </h2>
  <p>Después de realizar un preciso diagnóstico del tipo de ansiedad que padece, el psicólogo o psicóloga especializado procederá al tratamiento más adecuado a su caso.

En ocasiones no será necesario un tratamiento farmacológico.

Realizar una serie de cambios en los hábitos y rutinas de la persona pueden ayudarla a sentirse mejor.

La medicación estará prescrita y supervisada siempre por un especialista y será adecuada para los casos más graves y de larga evolución que, igualmente, podrán beneficiarse del tratamiento psicológico que les dotará de técnicas y estrategias de afrontamiento que le ayudarán a controlar los problemas.
</p>
  <div class="divider"></div>
  <div class="container-recuadro">
    <h3 class="texto-recuadro">Para Cualquier Consejo Contáctame <a class="waves-effect waves-light btn btn-recuadro" href="/#contacto">Reserva tu cita</a></h3>
  </div>
</div>

<!-- CUERPO SERVICE END -->
<section>
  <% include footer.ejs %>
</section>
