<head>
  <link rel="stylesheet" href="baja-autoestima.css" />
</head>

<section>
  <% include header.ejs %>
</section>
<!-- foto banner START-->
<div class="parallax-container">
  <div class="parallax"><img src="psicologa-baja-autoestima.jpg" alt="psicologa en baja autoestima" title="psicologa especialista en baja autoestima" class="img-parallax"></div>
  <h2 class="titulo-parallax"> BAJA AUTOESTIMA </h2>
  <a class="read-more subtitulo-parallax1 subtitulo-parallax1-1" href="/">INICIO</a><i class="tiny material-icons icono-parallax">chevron_right</i><a class="read-more subtitulo-parallax1" href="/#tratamiento">TRATAMIENTOS</a><i class="tiny material-icons icono-parallax">chevron_right</i><a class="subtitulo-parallax">BAJA AUTOESTIMA</a>
</div>
<!-- foto banner END -->
<!-- CUERPO SERVICE START -->
<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <h1 class="titulo-texto"> ¿Qué es la baja autoestima? </h1>
      <p>La baja autoestima se caracteriza por la falta de confianza y un sentimiento negativo sobre uno mismo.</p>
      <p>Cuando se sufre baja autoestima, se suele sentir incompetencia e incomodidad con uno mismo.</p>
      <p>Las personas con baja autoestima suelen ser personas hipersensibles que se sienten heridas por terceras personas con facilidad, están constantemente vigilando y en alerta a señales de rechazo, inadecuación y desaprobación por parte de terceros. A raíz de ello se convierten en personas más solitarias y con dificultad en cuanto a integración social.</p>
      <p>La autoestima puede recuperarse con trabajo, controlando la crítica voz interior y practicando la autocompasión.</P>
      <p>Durante ese proceso es muy recomendable la ayuda de un psicólogo o psicóloga.</P>
      <p>Señales y síntomas de la baja autoestima:</P>
      <div class="row fila-check-simptomas1">
        <ul>
          <li><i class="material-icons icono-check">check</i><a class="texto-simptomas">Inseguridad personal.</a></li>
          <li><i class="material-icons icono-check">check</i><a class="texto-simptomas">Autocrítica llegando a ser perjudicial para uno mismo</a></li>
          <li><i class="material-icons icono-check">check</i><a class="texto-simptomas">Auto exigencia desmesurada.</a></li>
        </ul>
      </div>
      <div class="row fila-check-simptomas2">
        <ul>
          <li><i class="material-icons icono-check">check</i><a class="texto-simptomas">Tristeza y miedos.</a></li>
          <li><i class="material-icons icono-check">check</i><a class="texto-simptomas">Exagerada importancia a cosas irrelevantes.</a></li>
          <li><i class="material-icons icono-check">check</i><a class="texto-simptomas">Sentimiento de incompetencia.</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8 l8">
      <h2 class="titulo-texto"> Terápida y Tratamiendo Psicologico </h2>
      <p>Para casos de recuperación de autoestima es importante combinar varios tratamientos:

<b>Reestructuración cognitiva:</b> es el reconocimiento de patrones de pensamiento que no son saludables y que acentúan la baja autoestima, para poder sustituirlos por la creación de patrones que generen confianza y realcen el valor de uno mismo.
<b>Comportamientos de activación:</b> cuando las personas sufren de baja autoestima suelen evitar actividades y situaciones por miedo a no hacerlo bien. Esto se convierte en muy pocas oportunidades donde experimenten satisfacción por sentirse realizados y capaces de hacer algo nuevo. Los comportamientos de activación hacen revertir esa situación y que poco a poco ellos vivan situaciones reconfortantes.
<b>Entreno en la solución de problemas:</b> cuando las personas tienen baja autoestima durante un periodo largo de tiempo se ven sin recursos para solventar situaciones cuotidianas. Con el entreno adecuado se vuelven a ver y apreciar recursos que disponemos a nuestro alrededor para solventar esos problemas y poco a poco sentirse autónomo.
<b>Entrenamiento de capacidades sociales:</b> por último se debe hacer un perfeccionamiento de las capacidades sociales para ganar y mantener esa autoconfianza y esa alta autoestima a lo largo del tiempo.

      </p>
    </div>
    <div class="col s12 m4 l4">
      <a><img src="tipos-baja-autoestima.jpg" alt="tipos de baja autoestima" title="tipos de baja autoestima" class="image-service1"></a>
      <a><img src="tratamiento-baja-autoestima.jpg" alt="tratamiento psicologico para baja autoestima" title="tratamiento psicologico para baja autoestima" class="image-service2"></a>
    </div>
  </div>
  <div class="divider"></div>
  <div class="container-recuadro">
    <h3 class="texto-recuadro">Para Cualquier Consejo Contáctame <a class="waves-effect waves-light btn btn-recuadro" href="/#contacto">Reserva tu cita</a></h3>
  </div>
</div>

<!-- CUERPO SERVICE END -->
<section>
  <% include footer.ejs %>
</section>
