<head>
  <link rel="stylesheet" href="contacto.css">
</head>

<section>
  <% include header.ejs %>
</section>
<!-- foto banner START-->
<div class="parallax-container">
  <div class="parallax"><img src="contactame.jpg" alt="contacto psicologia" title="contacto psicologia" class="img-parallax"></div>
  <h2 class="titulo-parallax"> CONTÁCTAME </h2>
  <a class="read-more subtitulo-parallax1 subtitulo-parallax1-1" href="/">INICIO</a><i class="tiny material-icons icono-parallax">chevron_right</i><a class="read-more subtitulo-parallax">CONTACTO</a>
</div>
<!-- foto banner END -->
<!-- 	información horarios -START 	-->
<div class="container-contacto">
    <div class="col s12 m12 l6 no-padding">
      <h2 class="titulo-form"> ¿Dónde estamos?</h2>
      <ul class="container">
        <li class="texto-contacto" href="https://www.google.com/maps/place/Carrer+de+C%C3%B2rsega,+276,+08008+Barcelona/@41.3944716,2.1546146,17z/data=!3m1!4b1!4m5!3m4!1s0x12a4a290e5c56cdf:0xd1fc8e6267b4d616!8m2!3d41.3944716!4d2.1568033"><i class="material-icons contacto-icono">place</i>C/ Córcega, 276  3o  1a 08008 Barcelona</li>
        <li class="texto-contacto" href="tel:"><i class="material-icons contacto-icono">call</i> +34 93 218 36 48 </li>
        <li class="texto-contacto" href="mailto:info@vuestropsicologo.com"><i class="material-icons contacto-icono">email</i> info@vuestropsicologo.com</li>
        <iframe class="map-contacto" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.11778327062!2d2.12875881482266!3d41.393248403595784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4986f3a64d225%3A0x61f772c10ba3de4d!2sServican!5e0!3m2!1ses!2ses!4v1536330981669" frameborder="0" style="border:0" allowfullscreen></iframe>
      </ul>
    </div>
    <!-- 	información horarios -END 	-->
    <!-- 	Formulario -START 	-->
    <div class="col s12 m12 l6">
      <h2 class="titulo-form"> Escríbenos</h2>
      <div class="container">
        <p class="texto-form"> Contacta conmigo y atenderé cualquier duda o sugerencia que tengas lo antes posible </p>
        <div class="col s12 m12 l12">
          <form id="form-bottom">
            <div class="row">
              <div class="input-field col s12 m12 l12">
                <i class="material-icons prefix icono-form">account_circle</i>
                <input id="first_name" type="text" class="validate" name="nombre" required>
                <label for="first_name">Nombre y Apellido</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix icono-form">phone</i>
                <input id="icon_telephone" type="tel" class="validate" name="telefono" pattern="^(\+34|0034|34)?[6|7|9][0-9]{8}$" required>
                <label for="icon_telephone">Teléfono</label>
                <span class="helper-text" data-error="Incorrecto" data-success="Correcto"></span>
              </div>
              <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix icono-form">email</i>
                <input id="email" type="email" class="validate" name="email" required>
                <label for="email">Email</label>
                <span class="helper-text" data-error="Incorrecto" data-success="Correcto"></span>
              </div>
              <div class="input-field col s12 m12 l12">
                <i class="material-icons prefix icono-form">mode_edit</i>
                <textarea  id="textarea2" type="text" class="materialize-textarea" name="comentarios"></textarea>
                <label for="textarea2">Más información que deba saber</label>
              </div>
            </div>
            <div class="container-btn">
              <button type="submit" id="submit-form" class="waves-effect waves-light btn btn-form">ENVIAR AHORA</button>
            </div>
          </form>
        </div>
      </div>
    </div>

</div>
<!-- 	Formulario -END 	-->
<section>
  <% include footer.ejs %>
</section>

</html>
