<head>
  <link rel="stylesheet" href="cv.css" />
</head>

<section>
  <% include header.ejs %>
</section>
<!-- foto banner START-->
<div class="parallax-container banner-top">
  <div class="parallax"><img src="psicologa-mercedes-ortiz.jpg" alt="psicologa Mercedes Ortiz" title="psicologa Mercedes Ortiz" class="img-parallax"></div>
  <h2 class="titulo-parallax"> SOBRE MÍ </h2>
  <a class="read-more subtitulo-parallax1 subtitulo-parallax1-1" href="/">INICIO</a><i class="tiny material-icons icono-parallax">chevron_right</i><a class="read-more subtitulo-parallax">SOBRE MÍ</a>
</div>
<!-- foto banner END -->
<!-- Información sobre mi STARTS -->
<section id="sobre-mi">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <h1 class="titulo-principalCV"> Tu psicologa en Barcelona </h1>
        <P><STRONG>Hola, Soy Mercedes Ortiz!</STRONG></P>
        <p> Soy psicóloga sanitaria colegiada nº 8305 ejerciendo desde 1995. Durante estos 24 años he ejercido en mi propio gabinete médico Psinep y también colaborando con diferentes gabinetes médicos y hospitales como el Sagrat Cor de Barcelona.
          Durante estos años de experiencia y tras cientos de pacientes atendidos con éxito he perfeccionado la metodología y la terapia psicológica en ámbitos muy concretos hasta convertirme en experta para casos de ansiedad, depresión y baja
          autoestima en adultos.</p>
        <p>Si crees que puedo serte de ayuda no dudes en contactarme. En caso de que no sea la persona experta en tu caso concreto te podré redirigir al profesional adecuado, porqué el objetivo principal es tu salud.</p>
        <p>A continuación podréis ver titulaciones y masters que avalan mi conocimiento, pero como he comentado anteriormente lo importante es la experiencia contrastada en resultado con pacientes, es por eso que las aptitudes adquiridas es más
          importante que las titulaciones.</p>
      </div>
    </div>
  </div>
</section>
<!-- Información sobre mi END -->
<!--  skils master STARTS -->
<section id="experiencia">
  <div class="container">
    <div class="divider"></div>
    <div class="row">
      <h4 class="titulo-subapartadosCV">  EXPERIENCIA Y TITULACIONES</h4>
      <div class="col s12 m12 l6">
        <h4 class="titulo-subapartadosCV2"> APTITUDES </h4>
        <div class="container">
          <h2 class="titulo-skills-cv"> Ansiedad <p class="valor-skills1">100%</P></h2>
          <div class="container-skills">
            <div class="fondo-skills1">100%</div>
          </div>
          <h2 class="titulo-skills-cv"> Depresión <p class="valor-skills2">100%</P></h2>
          <div class="container-skills">
            <div class="fondo-skills2">100%</div>
          </div>
          <h2 class="titulo-skills-cv">Autoestima <p class="valor-skills3">95%</P></h2>
          <div class="container-skills">
            <div class="fondo-skills3">95%</div>
          </div>
          <h2 class="titulo-skills-cv"> Obsesiones <p class="valor-skills3">90%</P></h2>
          <div class="container-skills">
            <div class="fondo-skills4">90%</div>
          </div>
        </div>
      </div>
      <div class="col s12 m12 l6">
        <h4 class="titulo-subapartadosCV2"> Titulaciones </h4>
        <div class="container">
          <ul>
            <li class="texto-master1"><i class="material-icons icono-master">stars</i>Licenciada en Psicología.</li>
            <li class="texto-master"><i class="material-icons icono-master">stars</i>Posgrado en Psicología Clínica y de la salud.</li>
            <li class="texto-master"><i class="material-icons icono-master">stars</i>Postgrado en Rehabilitación cognitiva.</li>
            <li class="texto-master"><i class="material-icons icono-master">stars</i>Postgrado en Neuropsicología Clínica.</li>
            <li class="texto-master"><i class="material-icons icono-master">stars</i>Master en Psicología Forense.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  skils master END -->
<!--  EMPRESAS LOGOS START -->
<section id="empresas-confian">
  <div class="container">
    <div class="divider"></div>
    <div class="row">
      <h4 class="titulo-subapartadosCV">  EMPRESAS QUE CONFÍAN EN MIS SERVICIOS </h4>
      <div class="container-logos">
        <div class="col s12 m6 l4">
          <img href="http://www.hscor.com/" src="hospital-sagrat-cor.jpg" alt="Hospital sagrat cor" title="Hospital sagrat cor" class="logos-cv">
      </div>
        <div class="col s12 m6 l4">
          <img href="https://www.clinicum.es/" src="clinicum.jpg" alt="Clinicum" title="Clinicum" class="logos-cv">
      </div>
        <div class="col s12 m6 l4">
          <img href="http://www.agrupacio.es/" src="agrupacio-mutua.png" alt="Agrupacio mutua" title="Agrupacio mutua" class="logos-cv">
      </div>
        <div class="col s12 m6 l4">
          <img href="https://www.doctoralia.es/" src="doctoralia.jpg" alt="Doctoralia" title="Doctoralia" class="logos-cv">
      </div>
        <div class="col s12 m6 l4">
          <img href="https://www.topdoctors.es/" src="top-doctors.jpg" alt="Top Doctors" title="Top Doctors" class="logos-cv">
      </div>
      <div class="col s12 m6 l4">
        <img href="https://www.medicinalliure.com/" src="medicina-lliure-logo.png" alt="Medicina Lliure" title="Medicina Lliure" class="logos-cv">
    </div>
      </div>
    </div>
  </div>
</section>
<!--  EMPRESAS LOGOS END -->
<div class="container">
  <div class="divider"></div>
  <div class="container-recuadro">
    <h3 class="texto-recuadro">Para Cualquier Consejo Contáctame <a class="waves-effect waves-light btn btn-recuadro" href="/#contacto">Reserva tu cita</a></h3>
  </div>
</div>
<!-- foto banner-final START-->
<div class="parallax-container banner-bottom">
  <div class="parallax"><img src="mercedes-ortiz.jpg" alt="Mercedes Ortiz" title="Mercedes Ortiz" class="img-parallax"></div>
  <h2 class="titulo-parallax-bot"> Mercedes Ortiz Dominguez </h2>
  <h3 class="subtitulo-parallax-bot">Especialista En Psicologia</h3>
  <a href="https://www.facebook.com/psicologamercedesortiz"><i class="material-icons icono-SM">wb_cloudy</i></a>
</div>
<!-- foto banner-final END -->
<!-- Información sobre mi END -->
<section>
  <% include footer.ejs %>
</section>
