<head>
  <link rel="stylesheet" href="depresion.css" />
</head>

<section>
  <% include header.ejs %>
</section>
<!-- foto banner START-->
<div class="parallax-container">
  <div class="parallax"><img src="psicologa-depresion.png" alt="psicologa en depresión" title="psicologa especialista en depresión" class="img-parallax"></div>
  <h2 class="titulo-parallax"> DEPRESIÓN </h2>
  <a class="read-more subtitulo-parallax1 subtitulo-parallax1-1" href="/">INICIO</a><i class="tiny material-icons icono-parallax">chevron_right</i><a class="read-more subtitulo-parallax1" href="/#tratamiento">TRATAMIENTOS</a><i class="tiny material-icons icono-parallax">chevron_right</i><a class="subtitulo-parallax">DEPRESIÓN</a>
</div>
<!-- foto banner END -->
<!-- CUERPO SERVICE START -->
<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <h1 class="titulo-texto"> ¿Qué es la Depresión? </h1>
      <p>La Depresión es una enfermedad complicada, en cuyo origen y desarrollo intervienen muchos factores de tipo:</p>
      <p><i>Biológicos:</i> Se consideran distintas alteraciones en los neurotransmisores (serotonina, noradrenalina, dopamina,...) alteraciones neuroendocrinas (cortisol) y afectaciones estructurales y funcionales de distintas zonas cerebrales.
<i>Genéticos:</i> Puede existir cierta predisposición biológica si existen antecedentes familiares.
<i>Psicosociales:</i> Un estrés continuo y los acontecimientos vitales traumáticos tienen una gran importancia en la aparición de la Depresión…

Es un trastorno muy frecuente, se da más en mujeres y la mitad de las personas que padecen depresión experimentará más de un episodio a lo largo de su vida.
      </p>
      <p>La depresión es un síndrome de presentación clínica muy diversa, cuyos síntomas más característicos son:</P>
      <div class="row fila-check-simptomas1 col s12 m12 l5">
        <ul>
          <li><i class="material-icons icono-check">check</i><a class="texto-simptomas">Humor depresivo o bajo estado anímico.</a></li>
          <li><i class="material-icons icono-check">check</i><a class="texto-simptomas">Disminución del interés y/o la capacidad para disfrutar de las cosas.</a></li>
          <li><i class="material-icons icono-check">check</i><a class="texto-simptomas">Trastornos del sueño, del apetito, dificultades para concentrarse, para tomar decisiones.</a></li>
        </ul>
      </div>
      <div class="row fila-check-simptomas2 col s12 m12 l5 push-l1">
        <ul>
          <li><i class="material-icons icono-check">check</i><a class="texto-simptomas">Ansiedad y quejas somáticas acompañan frecuentemente a los síntomas depresivos.</a></li>
          <li><i class="material-icons icono-check">check</i><a class="texto-simptomas">Las ideas de suicidio pueden formar parte del cuadro clínico de la depresión.</a></li>
          <li><i class="material-icons icono-check">check</i><a class="texto-simptomas"> Inhibición psicomotriz (a veces agitación), cansancio y falta de energía.</a></li>
        </ul>
      </div>
    </div>
    <div class="col s12 m12 l12">
<p>El diagnóstico debe ser realizado por un especialista (psiquiatra o psicólogo) ya que es exclusivamente clínico.

La depresión puede coexistir con otros trastornos psicológicos, especialmente con trastornos de ansiedad.

La depresión puede complicar la evolución y el tratamiento de enfermedades físicas crónicas y, la presencia de enfermedades crónicas favorece la aparición de depresión. Tipos de depresión (bien pero repasar un poco el redactado)
</P>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8 l8">
      <h2 class="titulo-texto"> Tipos de Depresión </h2>
      <p>Existen muchos tipos de depresión pero es necesario de psicólogo o psiquiatra especialista para hacer un correcto diagnóstico. Es importante que el diagnóstico sea correcto para decidir el tratamiento adecuado. Los diferentes tipos de depresión son:</p>
      <p><b>Depresión mayor:</b> suele diagnosticarse por un sentimiento depresivo o de pérdida de interés en las actividades que nos agradan durante dos semanas o más.
<b>Distimia:</b> es una depresión persistente durando más de dos años. Es menos menos grave que otros tipos de depresión como la depresión mayor.
<b>Bipolar:</b> suele llamarse también depresión maníaca. Se caracteriza por constantes cambios de humor y energía. La psicoterapia suele ayudar mucho a este tipo de depresión.
<b>Depresión psicótica:</b> es similar a la depresión mayor pero con un componente psicótico como pueden ser alucinaciones, falsas ilusiones o paranoias.
<b>Depresión postparto:</b> aparece en mujeres durante las semanas y meses después de haber tenido un hijo.
<b>Depresión atípica:</b> en este caso no es una persistente tristeza lo que se siente sino el resto de síntomas cómo incremento del apetito, dormir más de lo normal, pesadez en las extremidades y afectan mucho más cualquier tipo de crítica.
      </p>
    </div>
    <div class="col s12 m4 l4">
      <a><img src="tipos-depresion.jpg" alt="tipos de depresión" title="tipos de depresión" class="image-service1"></a>
      <a><img src="tratamiento-depresion.jpg" alt="tratamiento psicologico para depresión" title="tratamiento psicologico para depresión" class="image-service2"></a>
    </div>
  </div>
  <h2 class="titulo-texto"> Terápida y Tratamiendo Psicologico </h2>
  <p>La terapia cognitivo-conductual es un tratamiento psicológico que ha mostrado una contrastada efectividad en el trastorno depresivo.

La psicoterapia comparte objetivos con el tratamiento farmacológico, en el sentido de obtener una mejoría de los síntomas depresivos o reducir el riesgo de recaídas.

La psicoterapia también puede incidir sobre otros aspectos específicos, como formas de actuar o pensar, rasgos de personalidad, dificultades sociales o familiares...
  </p>
  <div class="divider"></div>
  <div class="container-recuadro">
    <h3 class="texto-recuadro">Para Cualquier Consejo Contáctame <a class="waves-effect waves-light btn btn-recuadro" href="/#contacto">Reserva tu cita</a></h3>
  </div>
</div>

<!-- CUERPO SERVICE END -->
<section>
  <% include footer.ejs %>
</section>
