<head>
  <link rel="stylesheet" href="footer.css" />
</head>

<!-- Footer-START -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <a href="/" class="logo-container-footer">
          <img src="https://i.imgur.com/gJITAoA.png" alt="logo psicologa Mercedes Ortiz" title="logo psicologa Mercedes Ortiz"class="logo-footer">
        </a>
        <p class="texto-footer-izq">Psicologos Barcelona - psicologo - psicologos - psicologos barcelona ansiedad - psicologo online - psicologa barcelona - ansiedad - psicoleg barcelona - terapia psicologica.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul class="container-texto-footer">
          <li><a class="texto-footer">GABINETE MÉDICO CÓRCEGA</a></li>
          <li><i class="material-icons iconos-footer prefix">location_on</i><a class="texto-footer" href="https://www.google.com/maps/place/Carrer+de+C%C3%B2rsega,+276,+08008+Barcelona/@41.3944716,2.1546146,17z/data=!3m1!4b1!4m5!3m4!1s0x12a4a290e5c56cdf:0xd1fc8e6267b4d616!8m2!3d41.3944716!4d2.1568033">Calle Córcega, 276, 3, 1, Barcelona</a></li>
          <li><i class="material-icons iconos-footer prefix">phone</i><a class="texto-footer" href="tel:"> +34 93 218 36 48</a></li>
          <li><i class="material-icons iconos-footer prefix">email</i><a class="texto-footer" href="mailto:info@vuestropsicologo.com"> info@vuestropsicologo.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l4  Copyright-text">
          © 2018 Copyright Mercerdes Ortiz
        </div>
        <div class="col s12 m12 l6">
          <a class="buttn-bottom1" href="/cookies">Política De Cookies</a>
          <a class="buttn-bottom" href="/privacidad-legal">Política De Privacidad</a>
        </div>
        <div class="col s12 m12 l2 push-l1">
          <a class="black-text text-lighten-4" href="/">INICIO</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer-END -->
<!-- website-END -->
<!-- Cookies START -->
<script type="text/javascript">
  window.cookieconsent_options = {
    "message": "Esta web usa cookies para asegurarte la mejor experiencia en nuestro sitio web.",
    "dismiss": "Permitir",
    "learnMore": "Más información",
    "link": null,
    "theme": "light-bottom"
  };
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
<!-- End Cookie Consent -->

<!-- materialize script -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
<script src="form-validation.js"></script>
<!-- materialize menu lateral mobile-->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
</script>
<!-- submenu princiapl -->
<script>
  $(".dropdown-trigger").dropdown({
    autoTrigger: true,
    coverTrigger: false,
    hover: true,
  });
</script>
<!-- materialize corousel-->
<script>
  $(document).ready(function() {
    $('.carousel.carousel-slider').carousel({
      fullWidth: true,
    });

    setTimeout(autoplay, 4500);

    function autoplay() {
      $('.carousel').carousel('next');
      setTimeout(autoplay, 4500);
    }

    $('.next').click(function() {
      $('.carousel').carousel('next');
    });
    $('.prev').click(function() {
      $('.carousel').carousel('prev');
    });
    $('.collapsible').collapsible();
    $('.slider').slider({
      indicators: false,
    });
    $('input#input_text, textarea#textarea2').characterCounter();
    $('.sidenav').sidenav();
    $('.parallax').parallax();
  });
</script>
<script>
  AOS.init();
</script>

</body>

</html>
