<head>
  <link rel="stylesheet" href="formularioBottom.css" />
</head>

<!-- 	FORMULARIO CONSULTA-START 	-->
<!-- 	información horarios -START 	-->
<section id="contacto">
  <div class="row" style="display: flex; margin: 0 auto;">
    <div class="col s12 m12 no-padding" data-aos="fade-up" data-aos-duration="2000">
      <div class="container-horarios">
        <div class="container container-texto-horarios" style="width: 1000px!important;">
          <h5 class="titulo-horarios"> Gabinete Médico Córcega </h5>
          <p class="texto-horarios" href="https://www.google.com/maps/place/Carrer+de+C%C3%B2rsega,+276,+08008+Barcelona/@41.3944716,2.1546146,17z/data=!3m1!4b1!4m5!3m4!1s0x12a4a290e5c56cdf:0xd1fc8e6267b4d616!8m2!3d41.3944716!4d2.1568033"><b>Dirección: </b> C/ Córcega, 276  3o  1a 08008 Barcelona</p>
          <p class="texto-horarios-transporte">
              <b>Transporte público: </b>
          </p>
            <p class="texto-horarios">
                FGC: Provença
            </p>
            <p class="texto-horarios">
                Metro: L1,L3 Diagonal
            </p>
            <p class="texto-horarios">
                Bus: 66, 22, 24, 33, 34, 67, H8, V17
            </p>
          <div class="divider"></div>
          <p class="texto-horarios" href="mailto:info@vuestropsicologo.com"><b>Email</b> info@vuestropsicologo.com</p>
          <a class="telefono-horarios" href="tel:"><b>Teléfono:</b> +34 93 218 36 48</a>
          <div class="divider"></div>
          <p class="texto-horarios"><b> Lunes a Viernes:</b> 15:00 a 20:00</p>
          <div class="divider"></div>
        </div>
      </div>
    </div>
<!-- 	información horarios -END 	-->
<!-- 	Formulario -START 	-->

</div>
</section>
