<!doctype html>
<html lang="es">

<head>
  <title>Psicólogos Barcelona - Mercedes Ortiz Domínguez</title>
  <link rel="shortcut icon" type="image/png" href="favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="description" content="Mercedes Ortiz pertenece a psicologos barcelona y es una psicologa especialista en ansiedad, autoestima y terapia psicologica. Es un buen psicologo.">
  <meta name="keywords" content="Psicologos Barcelona, psicologo, psicologos, psicologos barcelona ansiedad, buen psicologo barcelona, terapia psicologica, ansiedad, psicologos barcelona adeslas.">
  <link rel="stylesheet" href="header.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127903907-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-127903907-1');
</script>

</head>

<body>
  <!-- 	animación carga-START -->
  <div id="animación-carga"></div>
  <!-- 	animación carga-END 	-->
    <!-- Header-START -->
    <header>
      <!-- menu logo, llama y pide cita START -->
      <nav class="nav-container N/A transparent nav-container-arriba z-depth-0">
        <div class="nav-wrapper nav-fija-arriba">
          <a href="/" class="logo-container">
                <img src="logo.png" alt="Mercedes Ortiz Dominguez" class="logo">
              </a>
          <ul class="right hide-on-med-and-down contenido-nav-arriba">
            <li>
              <i class="material-icons icono-telefono">phone_in_talk</i>
            <li><a class="llama-ahora">Llama ahora</a></li>
            <li><a class="telefono" href="tel:">+34 93 218 36 48</a></li>
            </li>
            <li><a class="waves-effect waves-light btn btn-header" href="/#contacto">Reserva tu cita ahora</a></li>
          </ul>
        </div>
      </nav>
      <!-- menu logo, llama y pide cita END -->
      <!-- menu navegación START -->
      <ul id="dropdown1" class="dropdown-content submenu-desplegable">
        <li><a href="ansiedad">Ansiedad</a></li>
        <li><a href="depresion">Depresión</a></li>
        <li><a href="baja-autoestima">Baja Autoestima</a></li>
      </ul>
      <ul id="dropdown2" class="dropdown-content submenu-desplegable">
        <li><a href="/psicologa-mercedes-ortiz#sobre-mi">Sobre mí</a></li>
        <li><a href="/psicologa-mercedes-ortiz#experiencia">Experiencia</a></li>
        <li><a href="/psicologa-mercedes-ortiz#empresas-confian">Empresas que confían</a></li>
      </ul>
      <nav class="nav-container-menu-principal N/A transparent">
        <div class="nav-wrapper nav-menu-principal">
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons md-18 grey-text">menu</i></a>
          <ul class="left hide-on-med-and-down contenido-nav-menu-principal">
            <li><a href="/" class="categoria-menu-inico">INICIO</a></li>
            <li><a class="dropdown-trigger categoria-menu" href="/#tratamiento" data-target="dropdown1">Tratamientos<i class="material-icons right icono-menu">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger categoria-menu" href="psicologa-mercedes-ortiz" data-target="dropdown2">Psicologa Mercedes Ortiz<i class="material-icons right icono-menu">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger categoria-menu" href="visitas-online">Visitas Online</a></li>
            <!-- <li><a href="badges.html" class="categoria-menu">BLOG</a></li> -->
            <li><a href="/contacto" class="categoria-menu">Contacto</a></li>
          </ul>
        </div>
      </nav>

      <!-- responsive mobile menu rallitas -->
      <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Inicio</a></li>
        <li><a href="/#tratamiento">Tratamientos</a></li>
        <li><a href="psicologa-mercedes-ortiz">Psicologa Mercedes Ortiz</a></li>
        <li><a href="visitas-online">Visitas Online</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
      <!-- menu navegación END -->
    </header>
    <!-- HEADER END -->
    <div class="headerClearFix"></div>
