<head>
  <link rel="stylesheet" href="index.css" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<section>
  <% include header.ejs %>
</section>

<!-- Corousel START -->
<section>
  <div class="carousel-container">
    <div class="carousel carousel-slider center carousel-top" data-indicators="true">
      <a class="carousel-item"><img src="psicologos_barcelona.jpg" alt="psicologos Barcelona" title="psicologos Barcelona" class="imagen-corousel"></a>
      <a class="carousel-item"><img src="psicologos.png" alt="psicologos" title="psicologos" class="imagen-corousel"></a>
      <a class="carousel-item"><img src="psicologo.jpeg" alt="psicologo" title="psicologo" class="imagen-corousel"></a>
      <div class="carousel-fixed-item center middle-indicator">
        <div class="btn prev">
          <a class="middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons left  middle-indicator-text icono-flecha">chevron_left</i></a>
        </div>
        <div class="btn next">
          <a class="middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons right middle-indicator-text icono-flecha">chevron_right</i></a>
        </div>
      </div>
      <div <a class="waves-effect waves-light btn btn-corousel" href="/contacto">Reserva tu cita ahora</a>
      </div>
      <div>
        <h1 class="titulo-corousel">Ejerciendo como psicóloga en Barcelona durante más de 20 años.</h1>
      </div>
    </div>
  </div>
</section>
<!-- corousel END -->
<!--  	Servicios START 	-->
<section id="tratamiento">
  <div class="container">
    <h2 class="titulo-services titulo-padding">Psicología</h2>
    <p>Somos muchos los psicólogos que ejercemos en Barcelona, por lo que es comprensible, que cuando alguien busca ayuda, no sepa realmente a cual acudir. </p>
    <p>Un buen psicólogo debe tener una titulación y colegiación adecuadas y no se ofrece a tratar cualquier patología, a cualquier edad, sino que se especializa en tratamientos concretos para poder ayudar con la máxima efectividad. </p>
    <p>Si necesitas ayuda porque estás atravesando por problemas emocionales y de estrés, que están complicando tu rendimiento, tu descanso, tus relaciones personales a nivel académico, social y/o laboral,... yo puedo ayudarte. Si buscas psicólogo en Barcelona, puedo ser tu psicóloga. </p>
    <div class="row">
      <div class="col s12 m6 l4" data-aos="fade-up" data-aos-duration="2000">
        <div class="card card-services hoverable">
          <div class="card-image">
            <img src="ansiedad.jpg" alt="ansiedad" title="ansiedad" class="card-image">
            <a href="/ansiedad" class="btn-floating halfway-fab waves-effect waves-light icono-cards"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <h2 class="card-title activator grey-text text-darken-4">Ansiedad</h2>
            <p class="services-texto">Es normal sentir nervios cuando empezamos una nueva etapa. Si esos nervios se conviertan en miedos continuos debes ayudarte de profesionales para poder sacar lo mejor de ti.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4" data-aos="fade-up" data-aos-duration="2500">
        <div class="card card-services hoverable">
          <div class="card-image">
            <img src="depresion.jpg" alt="depresion" title="depresion" class="card-image">
            <a href="/depresion" class="btn-floating halfway-fab waves-effect waves-light icono-cards"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <h2 class="card-title activator grey-text text-darken-4">Depresión</h2>
            <p class="services-texto">Los trastornos depresivos son el principal problema por el cual los pacientes acuden al psicólogo. La característica principal es un estado de tristeza continua en el tiempo. Con especialistas esto puede
              mejorar.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 push-m3 l4" data-aos="fade-up" data-aos-duration="3000">
        <div class="card card-services hoverable">
          <div class="card-image">
            <img src="autoestima.jpg" alt="autoestima" title="autoestima" class="card-image">
            <a href="/baja-autoestima" class="btn-floating halfway-fab waves-effect waves-light icono-cards"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <h2 class="card-title activator grey-text text-darken-4">Baja Autoestima</h2>
            <p class="services-texto">Darle demasiada importancia a pequeños errores, sentimientos de culpa y enfado constante con uno mismo debe cambiar cuanto antes. Con la ayuda adecuada puedes volver a brillar.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-btn">
    <a class="waves-effect waves-light btn btn-servicios" href="/#contacto">Reservar tu cita ahora</a>
  </div>
</section>
<!--  	Servicios END 	-->
<!-- 	banner personal START 	-->
<div class="container-bannerpersonal">
  <div class="row banner-blue">
    <div class="col s12 m4 l5">
      <div class="imagen-alineada">
        <img class="foto-bannerpersonal" src="mercedes-ortiz.png" title="psicologa Mercedes Ortiz" alt="psicologa Mercedes Ortiz"></a>
      </div>
    </div>
    <div class="col s12 m8 l7">
      <div class="container-texto-bannerpersonal">
        <h2 class="titulo-bannerpersonal">Hola, Soy Mercedes Ortiz Domínguez </h2>
        <h3 class="subtitulo-bannerpersonal">Psicóloga Especialista en Psicología Clínica <br> Experta en ansiedad y depresión en Barcelona</h3>
        <p class="texto-bannerpersonal"> Muchas veces no disponemos de la información adecuada o no sabemos si necesitamos ayuda para superar algunos momentos difíciles en nuestra vida. Pequeños cambios pueden equilibrarte y hacerte más fuerte.
          Contáctame sin ningún tipo de compromiso y te ayudaré.</p>
        <div class="personePhoneContent">
          <i class="material-icons icono-telefono-banner">phone_in_talk</i>
          <a class="telefono-banner" href="tel:">93 218 36 48</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 	banner personal END 	-->
<!-- 	EQUIPO START 	-->
    <!-- collapsible Start -->
  <div class="container">
    <div class="col s12 m12 l12">
      <h3 class="titulo-faq">Cuestiones generales</h3>
      <ul class="collapsible popout">
        <li>
          <div class="collapsible-header"><i class="material-icons collapsible-icono">add</i>¿Cuándo se si necesito la ayuda de un psicólogo?</div>
          <div class="collapsible-body"><span>Se requiere la ayuda de un psicólogo cuando sientes un cambio en ti mismo que te hace reaccionar de forma inapropiada antes situaciones que antes controlabas y que ahora no consigues hacer como lo hacías con anterioridad o incluso te bloqueas.
Esto suele generar malestar, inquietud o preocupación en exceso.
</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons collapsible-icono">add</i>¿Qué es un problema psicológico?</div>
          <div class="collapsible-body"><span>Es la dificultad a afrontar situaciones que nos llegan a bloquear y hacer sentir débiles o que nos hacen no estar a gusto con nosotros mismos o con lo que nos rodea. </span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons collapsible-icono">add</i>¿Qué es un psicólogo?</div>
          <div class="collapsible-body"><span>Es un licenciado o graduado en psicología que está capacitado legalmente para ejercer la psicología y la psicoterapia. Existen diferentes tipo de psicólogos especializados en psicología escolar, psicología de deporte, psicología social,…</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons collapsible-icono">add</i>¿Cómo se debe escoger tu psicólogo?</div>
          <div class="collapsible-body"><span>Tu psicólogo debe ser una persona con la que te sientes a gusto, que confías en ella y te dejas guiar hasta solucionar el problema por completo. Es muy importante que sea especialista en tu caso concreto. Al sumar todos esos factores se consigue tratar el problema una manera más y efectiva y mucho más breve. </span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons collapsible-icono">add</i>¿En qué consiste un tratamiento psicológico?</div>
          <div class="collapsible-body"><span>Un tratamiento psicológico suele desarrollarse en tres fases:
1 Evaluación: suele consistir de dos a cuatro sesiones en la que se obtiene la historia personal y se aplican los test necesarios para un diagnóstico preciso.
2. tratamiento: psicoeducación sobre su problema concreto y aprendizaje de técnicas y estrategias para afrontarlos. La periodicidad de las sesiones puede ser quincenal y la duración variará en función de la gravedad del caso y de la implicación del paciente en su tratamiento.
3. Seguimiento: en esta fase la sesiones ya son más espaciadas para que el paciente compruebe que realmente puede por si solo afrontar las situaciones y aplicar las técnicas aprendidas.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons collapsible-icono">add</i>¿Qué es la psicoterapia?</div>
          <div class="collapsible-body"><span>La psicoterapia es el tratamiento que utiliza medios psicológicos para ayudar a resolver problemas y retos de un paciente. La persona que ejerce psicoterapia, legalmente, tiene que ser un psicólogo profesional. Cabe destacar que es una relación profesional por lo que se debe ejercer en un ámbito adecuado para ello.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons collapsible-icono">add</i>¿Frecuencia y duración de la terápia?</div>
          <div class="collapsible-body"><span>La frecuencia viene determinada por el caso concreto y la fase del tratamiento en la que nos encontremos. En las primeras sesiones la frecuencia será semanal o quincenal y poco a poco se irá distanciando.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons collapsible-icono">add</i>¿Cuánto cuesta una sesión?</div>
          <div class="collapsible-body"><span>El precio por sesión son 60€.
Mutuas con las que colaboro (consultar sus condiciones):
  - Agrupación Mutua.
  - Clínicum.
  - Medicina Lliure.</span></div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- collapsible END -->
<!-- 	EQUIPO END 	-->

<!-- Poner banner con X pacientes confian, X nanan y X nanana -->


<!-- 	Ultimas publicaciones-START 	-->
<!-- <div class="container">
  <h2 class="titulo-publicaciones">últimas publicaciones</h2>
  <div class = "row">
    <div class = "col s12 m6 l4" data-aos="fade-up-right" data-aos-duration="2000">
      <div class="card medium z-depth-0">
        <div class="card-image">
          <img src="https://placehold.it/20x20" alt="" title="">
        </div>
        <span class="badge badge-publicaciones"> 13 Sep. 2018</span>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 card-title-publicaciones">Titulo</span>
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a class="read-more" href="#">READ MORE</a>
        </div>
      </div>
    </div>
    <div class = "col s12 m6 l4" data-aos="fade-up" data-aos-duration="2000">
      <div class="card medium z-depth-0">
        <div class="card-image">
          <img src="https://placehold.it/20x20" alt="" title="">
        </div>
        <span class="badge badge-publicaciones"> 13 Sep. 2018</span>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 card-title-publicaciones">Titulo</span>
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a class="read-more" href="#">READ MORE</a>
        </div>
      </div>
    </div>
    <div class = "col s12 m6 l4" data-aos="fade-up-left" data-aos-duration="2000">
      <div class="card medium z-depth-0">
        <div class="card-image">
          <img src="https://placehold.it/20x20" alt="" title="">
        </div>
        <span class="badge badge-publicaciones"> 13 Sep. 2018</span>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 card-title-publicaciones">Titulo</span>
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a class="read-more" href="#">READ MORE</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- 	Ultimas publicaciones-END	-->
<section>
  <% include formularioBottom.ejs %>
</section>
<!-- 	MAPA START	-->
<iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.0614619485923!2d2.1546146149370107!3d41.39447157926358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a290e5c56cdf%3A0xd1fc8e6267b4d616!2sCalle+C%C3%B3rcega%2C+276%2C+08008+Barcelona!5e0!3m2!1ses!2ses!4v1540212636822" frameborder="0" style="border:0" title="Calle corcega 276"allowfullscreen></iframe>
<!-- 	MAPA END	-->
<section>
  <% include footer.ejs %>
</section>
