<head>
  <link rel="stylesheet" href="no-encontrado.css" />
  <meta name=”robots” content=”nofollow”>
</head>

<section>
  <% include header.ejs %>
</section>

<!-- foto banner START-->
<div class="parallax-container">
  <div class="parallax"><img src="pagina-no-encontrada.jpg" alt="pagina de psicologia no encontrada" title="pagina de psicologia no encontrada" class="img-parallax"></div>
  <h2 class="titulo-noEncontrado"> Página no encontrada </h2>
  <p class="subtitulo-noencontrado"> Esta página no existe actualmente. Revise que la URL es la correcta o visite otro apartado de nuestra página. </p>
</div>

<section>
  <% include footer.ejs %>
</section>
