<head>
  <link rel="stylesheet" href="politica-privacidad.css" />
  <meta name=”robots” content=”nofollow”>
</head>

<section>
<% include header.ejs %>
</section>

<!-- foto banner START-->
<div class="parallax-container">
  <div class="parallax"><img src="politica-privacidad.jpg" alt="política privacidad psicologia" title="política privacidad psicologia" class="img-parallax"></div>
  <h2 class="titulo-parallax"> Política De Privacidad </h2>
</div>
<!-- foto banner END -->
<div class="container container-privacidad">
<p>De ahora en adelante entenderemos LA WEB como referencia a los portales vuestropsicologo.es, vuestropsicologo.com y psicologamercedesortiz.com.</p>
<p>Para cumplir con el nuevo Reglamento General de Protección de Datos (GDPR) hemos actualizado nuestra política de privacidad.</p>
<p><b>IDENTIFICACIÓN</b></p><p><b>Titular:</b> Mercedes Ortiz Domninguez </p><p><b>Domicilio social:</b> c/ Padilla 397, 2 2 </p><p><b>CIF:</b> 43404584L </p><p><b>Email:</b> mercedes@vuestropsicologo.com</p>
<p><b>2. INFORMACIÓN Y CONSENTIMIENTO</b><p><p>Mediante la lectura de la presente Política de Privacidad, el Usuario queda informado sobre la forma en que ESTA WEB recaba, trata y protege los datos de carácter personal que le son facilitados a través de los formularios dispuestos en el sitio web www.direcciónWeb.es (en adelante, el “Sitio Web”), así como los propios de su navegación y aquellos otros datos que pueda facilitar en un futuro a ESTA WEB
De conformidad con lo dispuesto en la legislación vigente y aplicable en materia de protección de datos de carácter personal, mediante la aceptación de la presente Política de Privacidad, el usuario presta su consentimiento informado, expreso, libre e inequívoco para que los datos personales que proporcione a través del Sitio Web sean tratados por ESTA WEB, siendo éste el Responsable del Tratamiento, salvo que, en el momento de la recogida de los mismos, se indique lo contrario.
El Usuario debe leer con atención esta Política de Privacidad, que ha sido redactada de forma clara y sencilla, para facilitar su comprensión, y determinar libre y voluntariamente si desea facilitar sus datos personales a ESTA WEB</P>
<p><b>3. OBLIGATORIEDAD DE FACILITAR LOS DATOS</b><p><p>Los datos solicitados en los formularios dispuestos en el Sitio Web son con carácter general, obligatorios (salvo que en el campo requerido se especifique lo contrario) para cumplir con las finalidades establecidas.
Por lo tanto, si no se facilitan los mismos o no se facilitan correctamente no podrán atenderse las solicitudes de los usuarios.
</P>
<p><b>4. ¿CUÁL ES LA LEGITIMACIÓN DEL TRATAMIENTO DE TUS DATOS?</b><p><p>La legitimación del tratamiento de datos será:
Para la gestión de consultas, solicitudes de información, será el cumplimiento de relación contractual y el consentimiento prestado por el usuario para ello.
Para la gestión de reservas, será el cumplimiento de relación contractual.
Para la realización de informes estadísticos anónimos, el interés legítimo de ESTA WEB
Para el tratamiento de sus datos con fines de marketing, relativo a servicios propios de ESTA WEB para sus clientes y usuarios, se basará en el interés legítimo reconocido por la normativa.
Los consentimientos obtenidos para las finalidades mencionadas son independientes por lo que el usuario podrá revocar uno o varios de ellos no afectando a los demás. Podrá revocar su consentimiento a cualquiera de los tratamientos, si bien ello no afectará a la licitud de los tratamientos efectuados con anterioridad.
Para revocar dicho consentimiento, el Usuario podrá contactar con ESTA WEB enviando un email a la siguiente dirección de correo electrónico: info@direcciónWeb.es
</P>
<p><b>5. ¿CON QUIÉN SE COMPARTIRÁN LOS DATOS DEL USUARIO?</b><p><p>No cederemos tus datos personales a terceros, salvo que estemos obligados por una ley o que tú lo consientas previamente
</P>
<p><b>6. ¿DURANTE CUÁNTO TIEMPO CONSERVAREMOS LOS DATOS DEL USUARIO?</b><p><p>Conservaremos tus datos hasta que te des de baja para dejar de recibir nuestras newsletter, o hasta que te pongas en contacto con nosotros para solicitar que borremos tu información. Una vez lo hayas hecho, destruiremos tus datos.
</P>
<p><b>7. RESPONSABILIDAD DEL USUARIO</b><p><p>El Usuario:
Garantiza que es mayor de 18 años y que los datos que facilita a ESTA WEB son verdaderos, exactos, completos y actualizados. A estos efectos, el Usuario responde de la veracidad de todos los datos que comunique y mantendrá convenientemente actualizada la información facilitada, de tal forma que responda a su situación real.
Garantiza que ha informado a los terceros de los que facilite sus datos, en caso de hacerlo, de los aspectos contenidos en este documento. Asimismo, garantiza que ha obtenido su autorización para facilitar sus datos a ESTA WEB para los fines señalados.
Será responsable de las informaciones falsas o inexactas que proporcione a través del Sitio Web y de los daños y perjuicios, directos o indirectos, que ello cause a ESTA WEB o a terceros.
</P>
<p><b>8. EJERCICIO DE DERECHOS</b><p><p>El Usuario puede enviar un escrito a la dirección señalada en el encabezado de esta Política o bien por medio de un correo electrónico a la dirección: info@direcciónWeb.es con la Referencia “Protección de Datos”, adjuntando fotocopia de su documento de identidad, en cualquier momento y de manera gratuita, para:
Revocar los consentimientos otorgados.
Obtener confirmación acerca de si en ESTA WEB se están tratando datos personales que conciernen al usuario o no.
Acceder a sus datos personales.
Rectificar los datos inexactos o incompletos.
Solicitar la supresión de sus datos cuando, entre otros motivos, los datos ya no sean necesarios para los fines que fueron recogidos.
Ponerse en contacto con el DPO a través de la siguiente dirección: info@direcciónWeb.es
Interponer una reclamación relativa a la protección de sus datos personales ante la Agencia Española de Protección de Datos en la dirección Calle de Jorge Juan, 6, 28001, Madrid.
</P>
<p><b>9. MEDIDAS DE SEGURIDAD</b><p><p>ESTA WEB. tratará los datos del Usuario en todo momento de forma absolutamente confidencial y guardando el secreto de los mismos, de conformidad con lo previsto en la normativa de aplicación, adoptando al efecto las medidas de índole técnico-organizativa necesarias que garanticen la seguridad de sus datos y eviten su alteración, pérdida, tratamiento o acceso no autorizado, habida cuenta del estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a que están expuestos.</P>
<p><b>10. CONDICIONES DE ACCESO Y UTILIZACIÓN</b><p><p>El sitio web y sus servicios son de acceso libre y gratuito, no obstante, ESTA WEB condiciona la utilización de algunos de los servicios ofrecidos en su web a la previa cumplimentación del correspondiente formulario. El usuario garantiza la autenticidad y actualidad de todos aquellos datos que comunique a ESTA WEB y será el único responsable de las manifestaciones falsas o inexactas que realice. El usuario se compromete expresamente a hacer un uso adecuado de los contenidos y servicios de ESTA WEB y a no emplearlos para, entre otros:
a) Difundir contenidos, delictivos, violen tos, pornográficos, racistas, xenófobo, ofensivos, de apología del terrorismo o, en general, contrarios a la ley o al orden público.
b) Introducir en la red virus informáticos o realizar actuaciones susceptibles de alterar, estropear, interrumpir o generar errores o daños en los documentos electrónicos, datos o sistemas físicos y lógicos de ESTA WEB o de terceras personas; así como obstaculizar el acceso de otros usuarios al sitio web y a sus servicios mediante el consumo masivo de los recursos informáticos a través de los cuales ESTA WEB presta sus servicios.
c) Intentar acceder a las cuentas de correo electrónico de otros usuarios o a áreas restringidas de los sistemas informáticos de ESTA WEB o de terceros y, en su caso, extraer información.
d) Vulnerar los derechos de propiedad intelectual o industrial, así como violar la confidencialidad de la información de ESTA WEB o de terceros.
e) Suplantar la identidad de otro usuario, de las administración es públicas o de un tercero.
f) Reproducir, copiar, distribuir, poner a disposición o de cualquier otra forma comunicar públicamente, transformar o modificar los contenidos, a menos que se cuente con la autorización del titular de los correspondientes derechos o ello resulte legalmente permitido.
g) Recabar datos con finalidad publicitaria y de remitir publicidad de cualquier clase y comunicaciones con fines de venta u otras de naturaleza comercial sin que medie su previa solicitud o consentimiento.
Todos los contenidos del sitio web, como textos, fotografías, gráficos, imágenes, iconos, tecnología, software, así como su di seño gráfico y códigos fuente, constituyen una obra cuya propiedad pertenece a ESTA WEB, sin que puedan entenderse cedidos al usuario ninguno de los derechos de explotación sobre los mismos más allá de lo estrictamente necesario para el correcto uso de la web.
En definitiva, los usuarios que accedan a este sitio web pueden visualizar los contenidos y efectuar, en su caso, copias privadas autorizadas siempre que los elementos reproducidos no sean cedidos posteriormente a terceros, ni se instalen a servidores conectados a redes, ni sean objeto de ningún tipo de explotación.
Asimismo, todas las marcas, nombres comerciales o signos distintivos de cualquier clase que aparecen en el sitio web son propiedad de ESTA WEB, sin que pueda entenderse que el uso o acceso al mismo atribuya al usuario derecho alguno sobre los mismos.
La distribución, modificación, cesión o comunicación pública de los contenidos y cualquier otro acto que no haya sido expresamente autorizado por el titular de los derechos de explotación quedan prohibidos.
El establecimiento de un hiperenlace no implica en ningún caso la existencia de relaciones entre ESTA WEB y el propietario del sitio web en la que se establezca, ni la aceptación y aprobación por parte de ESTA WEB de sus contenidos o servicios. Aquellas personas que se propongan establecer un hiperenlace previamente deberán solicitar autorización por escrito a ESTA WEB. En todo caso, el hiperenlace únicamente permitirá el acceso a la home-page o página de inicio de nuestro sitio web, asimismo deberá abstenerse de realizar manifestaciones o indicaciones falsas, inexactas o incorrectas sobre ESTA WEB, o incluir contenidos ilícitos, contrarios a las buenas costumbres y al orden público.
ESTA WEB no se responsabiliza del uso que cada usuario le dé a los materiales puestos a disposición en este sitio web ni de las actuaciones que realice en base a los mismos.</p>
<p><b>10. CONDICIONES DE ACCESO Y UTILIZACIÓN</b><p><p>El contenido del presente sitio web es de carácter general y tiene una finalidad meramente informativa, sin que se garantice plenamente el acceso a todos los contenidos, ni su exhaustividad, corrección, vigencia o actualidad, ni su idoneidad o utilidad para un objetivo específico.
ESTA WEB excluye, hasta donde permite el ordenamiento jurídico, cualquier responsabilidad por los daños y perjuicios de toda naturaleza derivados de:
a) La imposibilidad de acceso al sitio web o la falta de veracidad, exactitud, exhaustividad y/o actualidad de los contenidos, así como la existencia de vicios y defectos de toda clase de los contenidos transmitidos, difundidos, almacenados, puestos a disposición a los que se haya accedido a través del sitio web o de los servicios que se ofrecen.
b) La presencia de virus o de otros elementos en los contenidos que puedan producir alteraciones en los sistemas informáticos, documentos electrónicos o datos de los usuarios.
c) El incumplimiento de las leyes, la buena fe, el orden público, los usos del tráfico y el presente aviso legal como consecuencia del uso incorrecto del sitio web. En particular, y a modo ejemplificativo, ESTA WEB no se hace responsable de las actuaciones de terceros que vulneren derechos de propiedad intelectual e industrial, secretos empresaria les, derechos al honor, a la intimidad personal y familiar y a la propia imagen, así como la normativa en materia de competencia desleal y publicidad ilícita.
Asimismo, ESTA WEB declina cualquier responsabilidad respecto a la información que se halle fuera de esta web y no sea gestionada directamente por nuestro webmaster. La función de los links que aparecen en esta web es exclusivamente la de informar al usuario sobre la existencia de otras fuentes susceptibles de ampliar los contenidos que ofrece este sitio web. ESTA WEB no garantiza ni se responsabiliza del funcionamiento o accesibilidad de los sitios enlazados; ni sugiere, invita o recomienda la visita a los mismos, por lo que tampoco será responsable del resultado obtenido. ESTA WEB no se responsabiliza del establecimiento de hipervínculos por parte de terceros..</P>
<p><b>11. PROCEDIMIENTO EN CASO DE REALIZACIÓN DE ACTIVIDADES DE CARÁCTER ILÍCITO</b><p><p>En el caso de que cualquier usuario o un tercero considere que existen hechos o circunstancias que revelen el carácter ilícito de la utilización de cualquier contenido y/o de la realización de cualquier actividad en las página s web incluidas o accesibles a través del sitio web, deberá enviar una notificación a ESTA WEB identificándose debidamente, especificando las supuestas infracciones y declarando expresamente y bajo su responsabilidad que la información proporcionada en la notificación es exacta.
Para toda cuestión litigiosa que incumba al sitio web de ESTA WEB, será de aplicación la legislación española, siendo competentes los Juzgados y Tribunales de España.</P>
<p><b>12. PUBLICACIONES</b><p><p>En el caso de que cualquier usuario o un tercero considere que existen hechos o circunstancias que revelen el carácter ilícito de la utilización de cualquier contenido y/o de la realización de cualquier actividad en las página s web incluidas o accesibles a través del sitio web, deberá enviar una notificación a ESTA WEB identificándose debidamente, especificando las supuestas infracciones y declarando expresamente y bajo su responsabilidad que la información proporcionada en la notificación es exacta.
Para toda cuestión litigiosa que incumba al sitio web de ESTA WEB, será de aplicación la legislación española, siendo competentes los Juzgados y Tribunales de España.</p>
<p>Ultima actualización: Octubre 2018 </P>

<div class="divider"></div>
<p class="p2">Para cualquier información adicional al respecto por favor pongase en contacto con : info@direcciónWeb.es</p>
</div>



<section>
<% include footer.ejs %>
</section>
