<head>
  <link rel="stylesheet" href="politica-cookies.css" />
  <meta name=”robots” content=”nofollow”>
</head>

<section>
<% include header.ejs %>
</section>

<!-- foto banner START-->
<div class="parallax-container">
  <div class="parallax"><img src="cookies.jpg" alt="cookies psicologia" title="cookies psicologia" class="img-parallax"></div>
  <h2 class="titulo-parallax"> Política De Cookies </h2>
</div>
<!-- foto banner END -->
<div class="container container-cookie">
<p>De ahora en adelante entenderemos LA WEB como referencia a los portales vuestropsicologo.es, vuestropsicologo.com y psicologamercedesortiz.com.</p>
<p><b>¿QUÉ SON LAS COOKIES?</b><p><p>Las cookies son pequeños archivos de datos que se reciben en el terminal desde el sitio Web visitado y se usan para registrar ciertas interacciones de la navegación en un sitio Web almacenando datos que podrán ser actualizados y recuperados. Estos archivos se almacenan en el ordenador del usuario y contiene datos anónimos que no son perjudiciales para su equipo. Se utilizan para recordar las preferencias del usuario, como el idioma seleccionado, datos de acceso o personalización de la página.</P>
<p>Las cookies también pueden ser utilizadas para registrar información anónima acerca de cómo un visitante utiliza un sitio. Por ejemplo, desde qué página Web ha accedido, o si ha utilizado un "banner" publicitario para llegar.</p>
<p>Dispone de más información sobre las cookies en: https://es.wikipedia.org/wiki/Cookie</p>
<p><b>¿POR QUÉ LA WEB UTILIZA COOKIES?</b><p><p>LA WEB utiliza cookies estrictamente necesarias y esenciales para que usted utilice nuestros sitios Web y le permitan moverse libremente, utilizar áreas seguras, opciones personalizadas, etc. Además, utiliza cookies que recogen datos relativos al análisis de uso de la Web. Éstas se utilizan para ayudar a mejorar el servicio al cliente, midiendo el uso y el rendimiento de la página, para optimizarla y personalizarla.</p>
<p><b>¿QUÉ TIPOS DE COOKIES USAMOS?</b></p><p><b>Cookies de sesión:</b> son cookies temporales que permanecen en el archivo de cookies de su navegador hasta que abandone la página web, por lo que ninguna queda registrada en el disco duro del usuario. La información obtenida por medio de estas cookies, sirven para analizar pautas de tráfico en la web. A la larga, esto nos permite proporcionar una mejor experiencia para mejorar el contenido de la Web y facilitando su uso.</p>
<p><b>Cookies permanentes:</b> son almacenadas en el disco duro y la web las detecta cada vez que el usuario realiza una nueva visita. Una web permanente posee una fecha de expiración determinada. La cookie dejará de funcionar después de esa fecha. Se utilizan generalmente para facilitar, por ejemplo, los servicios de registro.</p>
<p><b>Cookies técnicas:</b> Las cookies técnicas son aquellas imprescindibles y estrictamente necesarias para el correcto funcionamiento de un portal Web y la utilización de las diferentes opciones y servicios que ofrece. Por ejemplo, las que sirven para el mantenimiento de la sesión, la gestión del tiempo de respuesta, rendimiento o validación de opciones, utilizar elementos de seguridad, compartir contenido con redes sociales, etc.</p>
<p><b>Cookies de personalización</b> Estas cookies permiten al usuario especificar o personalizar algunas características de las opciones generales de la página Web, Por ejemplo, definir el idioma, configuración regional o tipo de navegador.</p>
<p><b>Cookies analíticas:</b> Las cookies analíticas son las utilizadas por nuestros portales Web, para elaborar análisis del comportamiento de los usuarios en los sitios web y perfiles de navegación, así como para conocer las preferencias de los usuarios con el fin de mejorar la oferta de productos y servicios. Por ejemplo, mediante una cookie analítica se controlarían las áreas geográficas de mayor interés de un usuario, cuál es el producto de más aceptación, etc</p>
<p><b>Cookies publicitarias:</b> Son aquéllas que permiten la gestión eficaz de los espacios publicitarios que se han incluido en la página web o aplicación desde la que se presta el servicio. Permiten adecuar el contenido de la publicidad para que esta sea relevante para el usuario y para evitar mostrar anuncios que el usuario ya haya visto.</p>
<p>Es posible que, al visitar una página Web se publique un anuncio o una promoción sobre nuestros productos o servicios, se instale en el navegador alguna Cookie que nos sirve para desarrollar un control de nuestros anuncios en relación, por ejemplo, con el número de veces que son vistos, donde aparecen, a qué hora se ven, etc.</p>
<p>Puede ocurrir que algunas Cookies utilizadas en esta Web no estén relacionadas con INKSOLIT. Ello se debe a que algunas páginas de la Web tienen insertado contenido procedente de Webs de terceras partes. Debido a que el referido contenido procede de otra Web, INKSOLIT, no controla la configuración de dichas Cookies. Si Usted quiere cambiar sus preferencias de configuración de Cookies, deberá consultar los sitios Web de dichas terceras partes para obtener información.</p>
<p><b>Cookies Analíticas</b><p><p>Proveedor: Google Analytics (Google)
Más información: http://www.google.com/analytics/</P>
<p><b>Cookies Publicitarias</b><p><p>Proveedor: Google Doubleclick
Más información: http://www.google.com/doubleclick
Proveedor: Google Adwords
Más información: https://www.google.com/settings/</P>
<p><b>¿Y SI NO QUIERO TENER ESTAS COOKIES O NO HAGO NADA AL RESPECTO?</b></p>
<p>Para cumplir con la legislación vigente, tenemos que pedir su permiso para gestionar cookies. Si decide no autorizar el tratamiento indicándonos su no conformidad, sólo usaríamos las cookies técnicas, puesto que son imprescindibles para la navegación por nuestra Web. En este caso, no almacenaríamos ninguna cookie. En el caso de seguir navegando por nuestro sitio Web sin denegar su autorización implica que acepta su uso. </P>
<p>Tenga en cuenta que si rechaza o borra las cookies de navegación por la Web, no podremos mantener sus preferencias, algunas características de las páginas no estarán operativas, no podremos ofrecerle servicios personalizados y cada vez que vaya a navegar tendremos que solicitarle de nuevo su autorización para el uso de cookies.</P>
<p>Si aún así, decide modificar la configuración de su acceso a la página Web, debe saber que es posible eliminar las cookies o impedir que se registre esta información en su equipo mediante la modificación de los parámetros de configuración de su navegador. </P>
<p>Además, puede retirar en cualquier momento el consentimiento relacionado con la presente Política de Cookies, eliminando las cookies almacenadas en su equipo a través de los ajustes y configuraciones de su navegador de Internet. </P>
<p>Chrome: desde http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647
Explorer: desde http://windows.microsoft.com/es-es/windows7/how-to-manage-Cookies-in-internet-explorer-9
Firefox: desde http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-Cookies-que-los-sitios-we
Safari: desde http://support.apple.com/kb/ph5042 </P>
<p>Finalmente, si desea tener un mayor control sobre la instalación de Cookies, puede instalar programas o complementos a su navegador, conocidos como herramientas de “Do Not Track”, que le permitirán escoger aquellas Cookies que desea permitir. </P>

<div class="divider"></div>
<p class="p2">Para cualquier información adicional al respecto por favor pongase en contacto con : info@aquarella.es</p>
</div>



<section>
<% include footer.ejs %>
</section>
