<head>
  <link rel="stylesheet" href="visitas-online.css" />
</head>

<section>
  <% include header.ejs %>
</section>
<!-- foto banner START-->
<div class="parallax-container">
  <div class="parallax"><img src="psicologa-online.jpg" alt="psicologa online" title="psicologa online" class="img-parallax"></div>
  <h2 class="titulo-parallax"> VISITAS ONLINE </h2>
  <a class="read-more subtitulo-parallax1 subtitulo-parallax1-1" href="/">INICIO</a><i class="tiny material-icons icono-parallax">chevron_right</i><a class="read-more subtitulo-parallax">VISITAS ONLINE</a>
</div>
<!-- foto banner END -->
<!-- CUERPO SERVICE START -->
<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <h1 class="titulo-texto"> TU PSICOLOGO ONLINE </h1>
      <p>Cada vez vivimos en un mundo más interconectado y es más fácil viajar y estar lejos de tu ciudad natal. Por ese motivo, dispongo de sesiones online para seguir la terapia sin ningún tipo de problema. </p>
      <p>La visitas por videollamada están enfocadas tanto aquellas personas que no pueden asistir a sus sesiones de seguimiento, como aquellas personas que les es difícil asistir presencialmente o viven en otra ciudad que no es Barcelona. </p>
      <p>Para realiza tu visita online lo único necesario es disponer de un aparato electrónico (teléfono móvil, Tablet o ordenador) con buena conexión a internet, preferiblemente conectado via Wi-Fi. Las visitas online se hacen mediante Hangouts. Hangouts es una aplicación de Google mediante la cual se pueden realizar videollamadas con seguridad y sin fallos.</p>
      <p>Pasos para realizar tu consulta online:</P>
      <div class="row fila-check-simptomas1">
        <ul>
          <li><i class="material-icons icono-check">looks_one</i><a class="texto-simptomas">Reservar la visita por teléfono o vía formulario web.</a></li>
          <li><i class="material-icons icono-check">looks_two</i><a class="texto-simptomas">En la confirmación de su visita le enviaremos un email con un enlace we únco de Hangouts.</a></li>
          <li><i class="material-icons icono-check">looks_3</i><a class="texto-simptomas">5 minutos antes de la hora estipulada debe conectarse al enlace que hay en el email. (El enlace se le volverá a enviar el mismo día por si lo hubiere perdido).</a></li>
          <li><i class="material-icons icono-check">looks_4</i><a class="texto-simptomas">Yo misma me conectaré al mismo enlace en el cuál podremos visualizarnos mutuamente, hablar e incluso compartir la pantalla del dispositivo si fuera necesario mostrar algún informe o documento.</a></li>
          <li><i class="material-icons icono-check">looks_5</i><a class="texto-simptomas">Una vez finaliza la sesión el enlace quedará inactivo y la visita se habrá realizado con éxtio.</a></li>
        </ul>
      </div>
      <p>En este tipo de visitas el pago se debe realizar 48 horas por adelantado. Para probar este servicio y poder ver su efectividad realizamos un 50% de descuento en la primera visita. Mi misión es poder ayudarle de la forma más cómoda posible para usted y de forma eficiente.</P>

      <div class="divider"></div>
      <div class="container-recuadro">
        <h3 class="texto-recuadro">Para Cualquier Consejo Contáctame <a class="waves-effect waves-light btn btn-recuadro" href="/#contacto">Reserva tu cita</a></h3>
      </div>
    </div>
  </div>
</div>

<!-- CUERPO SERVICE END -->
<section>
  <% include footer.ejs %>
</section>
