/* Parallax superior START */
.parallax-container {
  height: 350px!important;
  width: 100%;
  position: relative;
  top: -70px;
  z-index: 0;
}

.titulo-parallax{
  font-size: 44px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  margin-left: 10%;
  margin-top: 175px;
  font-family: "open sans";
}

.subtitulo-parallax {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  font-family: "open sans";
}

.subtitulo-parallax1 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  font-family: "open sans";
}

.subtitulo-parallax1-1{
  position: relative;
  margin-left: 10%;
  font-family: "open sans";
  color: white;
}

.subtitulo-parallax1:hover {
 color:  rgb(0,136,204) !important;
}

.icono-parallax {
  position: relative;
  top: 2px;
  font-weight: 600!important;
  color: white;
}

.img-parallax {
  filter: brightness(50%);
}
/* Parallax superior END */
.image-service1 {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
  margin-left: 10px;
  border-radius: 10px;
  object-fit: cover;
}

.image-service2 {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  margin-left: 10px;
  border-radius: 10px;
  object-fit: cover;
}

.titulo-texto {
  font-size: 22px;
  color: rgb(33,34,64);
  font-weight: 700;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-family: "open sans";
}

p {
  color: rgb(120,120,120);
  font-size: 16px;
  text-align: justify;
  font-family: "open sans";
  white-space: pre-wrap;
}

.fila-check-simptomas1{
  display: inline-flex;
  padding-right: 100px;
}

.fila-check-simptomas2{
  display: inline-flex;
}

.icono-check{
  color: rgb(0,136,204) !important;
  font-size: 16px !important;
  padding-right: 10px;
  font-weight: 800 !important;
}

.texto-simptomas {
  color: rgb(120,120,120);
  font-size: 16px;
  text-align: justify;
  font-family: "open sans";
}

.container-recuadro {
  padding-bottom: 40px;
  padding-top: 20px;
  font-family: "open sans";
}

.texto-recuadro {
  font-size: 28px;
  color: rgb(50,50,50);
  font-weight: 400;
  background-color: rgba(140,101,211,0.1);
  padding: 25px;
}

.btn-recuadro {
  background-color: rgb(0,136,204)!important;
  border-radius: 15px !important;
  float:right;
  font-weight: 400;
  width: 200px;
}

.btn-recuadro:hover::before {
  opacity:1;
  background-color: rgb(176,123,182);
}

.btn-recuadro:before {
  content: '';
  opacity: 0;
  background-color: rgb(176,123,182);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity .2s;
  z-index: -1;
}

/* MOBILE */
@media (max-width: 2000px) {
  .image-service2 {
    display: none;
  }
  .image-service1 {
    margin-top: 64px;
  }
}
@media (max-width: 1400px) {
  .image-service2 {
    display: inline;
  }
  .image-service1 {
    margin-top: 125px;
  }
}

@media (max-width: 1024px) {
  .btn-recuadro {
    position: relative;
    margin-top: 40px;
    float: none;
    width: 60%;
  }
  .texto-recuadro {
    text-align: center;
  }
  .image-service1 {
    margin-top: 180px!important;
  }
  .titulo-texto{
    text-align: center;
  }
  .fila-check-simptomas1{
    padding-right: 0px!important;
  }
}

@media (max-width: 600px) {
/* Styles for screen with max width of 600px */
    .btn-recuadro {
      position: relative;
      margin-top: 40px;
      float: none;
      width: 60%;
    }
    .texto-recuadro {
      text-align: center;
    }
    .image-service2 {
      display: none;
    }
    .image-service1 {
      width: 100%;
      height: auto;
      margin-bottom: 25px;
      margin-top: 15px;
      margin-left: 0px;
    }
    .titulo-texto{
      text-align: center;
    }
}
@media (max-width: 320px) {
/* Styles for screen with max width of 320px */
    .btn-recuadro {
      position: relative;
      margin-top: 40px;
      float: none;
      width: 60%;
    }
    .texto-recuadro {
      text-align: center;
    }
    .image-service2 {
      display: none;
    }
    .image-service1 {
      width: 100%;
      height: auto;
      margin-bottom: 25px;
      margin-top: 15px;
      margin-left: 0px;
    }
}
