/* Parallax superior START */
.parallax-container {
  height: 350px!important;
  width: 100%;
  position: relative;
  top: -70px;
  z-index: 0;
}

.titulo-parallax{
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  margin-left: 10%;
  margin-top: 175px;
}

.subtitulo-parallax {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

.subtitulo-parallax1 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

.subtitulo-parallax1-1{
  position: relative;
  margin-left: 10%;
}

.subtitulo-parallax1:hover {
 color:  rgb(0,151,172)!important;
}

.icono-parallax {
  position: relative;
  top: 2px;
  font-weight: 600!important;
  color: white;
}

.img-parallax {
  filter: brightness(50%);
}
/* Parallax superior END */
/* 	información horarios -START */
.container-contacto {
  padding-bottom: 100px!important;
}

.titulo-form {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(33,34,64);
  text-align: center;
}


.contacto-icono {
  color: rgb(0,151,172);
  margin-right: 20px;
}

.texto-contacto{
  color: rgb(137, 137, 137)!important;
  padding: 10px !important;
  text-align: center;
}

.map-contacto {
  width: 100%;
  height: 270px;
  margin-top: 20px;
}
/* 	información horarios -END */
/* 	FORMULARIO -START */
.formulario-posicion{
  width: 80%;
  padding-bottom: 20px;
}

.texto-form{
  color: rgb(137, 137, 137);
  text-align: center;
  padding: 10px !important;
}

.input-field label {
  color: #000;
}

.input-field input:focus + label {
    color: rgb(0,136,204) !important;
}

.input-field input:focus {
    border-bottom: 1px solid rgb(0,136,204) !important;
    box-shadow: 0 1px 0 0 rgb(0,136,204) !important;
}

.input-field textarea:focus + label {
    color: rgb(0,136,204) !important;
}

.input-field textarea:focus {
    border-bottom: 1px solid rgb(0,136,204) !important;
    box-shadow: 0 1px 0 0 rgb(0,136,204) !important;
}

.input-field input].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input.invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.input-field .prefix.active {
    color: rgb(0,136,204) !important;
}

.icono-form {
  color: rgba(33,33,33, 0.85);
}

.btn-form {
  background-color: rgb(0,151,172) !important;
  border-radius: 15px !important;
  position: relative;
  left: 30%;
  width: 50%
}

.btn-form:hover::before {
  opacity:1;
  background-color: rgb(0,151,172);
}

.btn-form:before {
  content: '';
  opacity: 0;
  background-color: rgb(0,151,172);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity .2s;
  z-index: -1;
}
/* 	Formulario -END 	*/
/* mobile */
@media (max-width: 1024px) {
    .container-contacto {
      padding-bottom: 20px!important;
    }
}
