/* Parallax superior START */
.banner-top {
  height: 350px !important;
  width: 100%;
  position: relative;
  top: -70px;
  z-index: 0;
}

.titulo-parallax {
  font-size: 44px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  margin-left: 10%;
  margin-top: 175px;
}

.subtitulo-parallax {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}

.subtitulo-parallax1 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}

.subtitulo-parallax1-1 {
  position: relative;
  margin-left: 10%;
}

.img-parallax {
  filter: brightness(65%);
}

.subtitulo-parallax1:hover {
  color: rgb(0,136,204) !important;
}

.icono-parallax {
  position: relative;
  top: 2px;
  font-weight: 600 !important;
  color: white;
}

/* Parallax superior END */
/* Resumen START */
.titulo-principalCV {
  font-size: 22px;
  color: rgb(33,34,64);
  font-weight: 700;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-family: "open sans";
  margin-top: 0px;
}

p {
  color: rgb(120,120,120);
  font-size: 16px;
  text-align: justify;
  font-family: "open sans";
}

/* Resumen END */
/* skils master START */
.titulo-subapartadosCV {
  font-size: 22px;
  color: rgb(33,34,64);
  font-weight: 700;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-family: "open sans";
}

.titulo-subapartadosCV2 {
  font-size: 20px;
  font-weight: 700;
  font-family: "open sans";
  text-transform: uppercase;
  color: rgba(33,34,64, 0.8);
  text-align: center;
}


.titulo-skills-cv {
  font-size: 16px;
  color: rgb(50, 50, 50);
  font-weight: 600;
  font-family: "open sans";
}

.container-skills {
  width: 100%;
  background-color: rgb(176,123,182, 0.6);
  border-radius: 15px;
  line-height: 12px;
  margin-top: -10px;
}

.valor-skills1 {
  float: right;
  color: rgba(50, 50, 50, 0.8);
  font-family: "open sans";
  margin-top: 5px;
}

.fondo-skills1 {
  width: 100%;
  background-color: rgb(0,136,204);
  border-radius: 15px;
  color: rgb(0,136,204);
  text-align: right;
  padding-right: 3px;
}

.valor-skills2 {
  float: right;
  color: rgba(50, 50, 50, 0.8);
  font-family: "open sans";
  margin-top: 5px;
}

.fondo-skills2 {
  width: 100%;
  background-color: rgb(0,136,204);
  border-radius: 15px;
  color: rgb(0,136,204);
  text-align: right;
  padding-right: 3px;
}

.valor-skills3 {
  float: right;
  color: rgba(50, 50, 50, 0.8);
  font-family: "open sans";
  margin-top: 5px;
}

.fondo-skills3 {
  width: 95%;
  background-color: rgb(0,136,204);
  border-radius: 15px;
  color: rgb(0,136,204);
  text-align: right;
  padding-right: 3px;
}

.fondo-skills4 {
  width: 90%;
  background-color: rgb(0,136,204);
  border-radius: 15px;
  color: rgb(0,136,204);
  text-align: right;
  padding-right: 3px;
}

.texto-master1 {
  font-size: 18px;
  color: rgb(50, 50, 50, 0.9);
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 15px;
  padding-top: 15px;
  font-family: "open sans";
}

.texto-master {
  font-size: 18px;
  color: rgb(50, 50, 50, 0.9);
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 15px;
  font-family: "open sans";
}

.icono-master {
  font-size: 22px !important;
  position: relative;
  top: 5px;
  margin-right: 5px;
  color: rgb(0,136,204)!important;
}

/* skils master END */
/* EMPRESAS LOGOS START */
.container-logos {
  padding-top: 15px;
  font-family: "open sans";
}

.logos-cv {
  padding-bottom: 6px;
  padding-top: 14px;
  height: 100px;
  width: 200px;
  object-fit: contain;
}

/* EMPRESAS LOGOS END */
.container-recuadro {
  padding-bottom: 40px;
  padding-top: 20px;
  font-family: "open sans";
}

.texto-recuadro {
  font-size: 28px;
  color: rgb(50,50,50);
  font-weight: 400;
  background-color: rgba(140,101,211,0.1);
  padding: 25px;
}

.btn-recuadro {
  background-color: rgb(0,136,204) !important;
  border-radius: 15px !important;
  float:right;
  font-weight: 400;
  width: 200px;
}

.btn-recuadro:hover::before {
  opacity:1;
  background-color: rgb(176,123,182);
}

.btn-recuadro:before {
  content: '';
  opacity: 0;
  background-color: rgb(176,123,182);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity .2s;
  z-index: -1;
}


/* Parallax inferior START */
.banner-bottom {
  height: 250px !important;
  width: 100%;
}

.titulo-parallax-bot {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  margin-right: 10%;
  margin-top: 100px;
  text-align: right;
}

.subtitulo-parallax-bot {
  font-size: 24px;
  font-weight: 400;
  color: white;
  margin-right: 10%;
  text-align: right;
}

.icono-SM {
  float: right;
  opacity: 0;
}

/* Parallax inferior END */
/* MOBILE */
@media (max-width: 1024px) {
  .btn-recuadro {
    position: relative;
    margin-top: 40px;
    float: none;
    width: 60%;
  }
  .texto-recuadro {
    text-align: center;
  }
  .titulo-subapartadosCV2{
    padding-top: 25px;
  }
  .logos-cv {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .titulo-subapartadosCV {
    text-align: center;
  }
}

@media (max-width: 600px) {
/* Styles for screen with max width of 600px */
    .btn-recuadro {
      position: relative;
      margin-top: 40px;
      float: none;
      width: 60%;
    }
    .texto-recuadro {
      text-align: center;
    }
    .titulo-subapartadosCV2{
      padding-top: 25px;
    }
    .logos-cv {
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
    }
    .titulo-subapartadosCV {
      text-align: center;
    }
}
@media (max-width: 320px) {
/* Styles for screen with max width of 320px */
    .btn-recuadro {
      position: relative;
      margin-top: 40px;
      float: none;
      width: 60%;
    }
    .texto-recuadro {
      text-align: center;
    }
    .titulo-subapartadosCV2{
      padding-top: 25px;
    }
    .logos-cv {
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
    }
    .titulo-subapartadosCV {
      text-align: center;
    }
}
