/* 	Footer -START 	*/
.row-horarios {
  padding-bottom: 0px !important;;
  margin-bottom: 0px !important;;
}
.page-footer{
  background-image: linear-gradient(rgb(255, 255, 255), rgb(216,232,241));
}

.logo-container-footer {
  float: left;
  margin-top: 10px;
}

.logo-footer {
  width: 160px;
  height: auto;
}

.texto-footer-izq{
  font-family: "open sans" !important;
  font-size: 16px !important;
  color: rgb(120,120,120)!important;
  position: relative!important;
  left: 50px;
  top: 15px;
  text-align: justify;
}

.container-texto-footer {
  margin-top: 7%;
}

.texto-footer {
  font-family: "open sans" !important;
  font-size: 16px !important;
  color: rgb(120,120,120)!important;
  padding-left: 15px;
  transition: all 150ms linear;
}

.texto-footer:hover {
  color: rgb(0,136,204)!important;
}

.iconos-footer {
  color: rgb(120,120,120)!important;
  position: relative;
  top: 5px;
}

.footer-copyright {
  background-color: rgb(216,232,241)!important;
  font-family: "open sans" !important;
}

.Copyright-text {
  color: rgb(120,120,120)
}

.buttn-bottom1 {
  margin-left: 70px;
}

.buttn-bottom, .buttn-bottom1 {
  background: none;
  border: none;
  color: rgb(120,120,120);
  cursor: pointer;
  position: relative;
  display: inline-flex;
  justify-content: center;
  margin-right: 15px;
}


.toast-form-success {
  background-color: rgba(51, 130, 38, 0.85)!important;
  color: white;
  font-weight: 600;
}

.toast-form-error {
  background-color: rgba(179, 15, 15,0.9) !important;
  color: white;
  font-weight: 600;
}
/* 	Footer -END 	*/
/* 	Website -END 	*/

/*MOBILE*/
@media (max-width: 1024px) {
    .buttn-bottom1 {
      margin-left: 0%;
      margin-right: 30px;
    }
    .buttn-bottom {
        margin-right: 45px;
    }
    .logo-container-footer{
      float: none;
    }
    .texto-footer-izq{
      position: static!important;
    }
}
@media (max-width: 600px) {
    .buttn-bottom {
      margin-right: 45px;
    }
    .logo-container-footer{
      float: none;
    }
    .texto-footer-izq{
      position: static!important;
    }
}
@media (max-width: 320px) {
    .logo-container-footer{
      float: none;
    }
    .texto-footer-izq{
      position: static!important;
    }
}
