/*  	FORMULARIO CONSULTA-START */
/* 	información horarios -START */
.container-horarios {
  background-color: rgb(88, 94, 118);
  font-family: "open sans";
}

.container-texto-horarios{
  padding: 90px 100px 35px 55px;
  line-height: 40px;
}


.texto-horarios {
  font-size: 16px !important;
  color: rgba(255,255,255, 0.85) !important;
  margin: 0;
  padding: 0;
}

.texto-horarios-transporte {
  font-size: 16px !important;
  color: rgba(255,255,255, 0.85) !important;
  margin: 0;
  padding: 0;
}

.titulo-horarios {
  font-size: 18px;
  color: rgba(255,255,255, 0.85);
  font-weight: 500;
  margin: 0;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.telefono-horarios {
  font-family: "open sans";
  font-size: 18px;
  color: rgba(255,255,255, 0.85) !important;
  font-weight: 400;
  transition: all 150ms linear;
}

.telefono-horarios:hover{
  color: rgb(0,136,204);
}

.divider {
  margin-top: 29px;
  margin-bottom: 29px;
}
/* 	información horarios -END */
/* 	FORMULARIO -START */
.titulo-form {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(33,34,64);
}

.container-form {
  padding-bottom: 20px;
}

.input-field label {

}

.input-field input:focus + label {
    color: rgb(0,136,204) !important;
}

.input-field input:focus {
    border-bottom: 1px solid rgb(0,136,204) !important;
    box-shadow: 0 1px 0 0 rgb(0,136,204) !important;
}

.input-field textarea:focus + label {
    color: rgb(0,136,204) !important;
}

.input-field textarea:focus {
    border-bottom: 1px solid rgb(0,136,204) !important;
    box-shadow: 0 1px 0 0 rgb(0,136,204) !important;
}

.input-field input.valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input.invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

.input-field .prefix.active {
    color: rgb(0,136,204) !important;
}

.icono-form {
  color: rgb(33,34,64);
}

.btn-form {
  background-color: rgb(0,136,204) !important;
  border-radius: 15px !important;
}

.btn-form:hover::before {
  opacity:1;
  background-color: rgb(176,123,182);
}

.btn-form:before {
  content: '';
  opacity: 0;
  background-color: rgb(176,123,182);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity .2s;
  z-index: -1;
}
/* 	Formulario -END 	*/
/* MOBILE */
@media (max-width: 1024px) {
/* Styles for screen with max width of 600px */
    .container-texto-horarios {
    padding: 35px 0 0 0;
    }
    .titulo-form {
    padding-top: 0px!important;
    }
    .btn-form{
      margin-bottom: 70px;
    }
    .container-form {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
    }
}
@media (max-width: 600px) {
/* Styles for screen with max width of 600px */
    .container-texto-horarios {
    padding: 35px 0 0 0;
    }
    .titulo-form {
    padding-top: 0px!important;
    }
    .btn-form{
      margin-bottom: 70px;
    }
}
@media (max-width: 320px) {
/* Styles for screen with max width of 320px */
    .container-texto-horarios {
    padding: 35px 0px 0px 0px;
    }
    .titulo-form {
    padding-top: 0px!important;
    }
    .btn-form{
      margin-bottom: 70px;
    }
}
/* 	FORMULARIO CONSULTA-END */
