/* CSS Web Mama */

/* 	Loader-START */
#animación-carga {}

/* 	Loader-END 	*/

/* header START */

/* menu logo, llama y pide cita START */
.nav-container-arriba{
  height: 100px;
}

.nav-fija-arriba{
  background-image: linear-gradient(rgb(255, 255, 255), rgb(216,232,241));
  font-family: "open sans";
}


.logo {
  width: 160px;
  height: auto;
  margin-left: 100px;
  position: relative;
  top: -30px;
}

.contenido-nav-arriba {
  float: left;
  max-width: 100%;
  width: 550px;
  padding-top: 15px;
}

.telefono {
  font-size: 20px;
  color: rgb(33,34,64);
  left: 100px;
  font-weight: 600;
  position: relative;
  left: -5px;
  bottom: -10px;
  margin-right: 20px;
  background: transparent !important;
  font-family: "open sans";
}

.telefono:hover {
  color: rgb(0,136,204);
}

.icono-telefono {
  color: rgb(120,120,120);
  font-size: 34px !important;
  position: relative;
  top: 5px;
}

.llama-ahora {
  font-size: 18px;
  color: rgb(120,120,120);
  font-family: "open sans";
  font-weight: 400;
  position: absolute;
  top: -2px;
  background: transparent !important;
}
.btn-header {
  background-color: rgb(0,136,204) !important;
  border-radius: 15px !important;
}
.btn-header:hover:before {
  opacity:1;
}

.btn-header:before {
  content: '';
  opacity: 0;
  background-color: rgb(176,123,182);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity .2s;
  z-index: -1;
}
/* menu logo, llama y pide cita END */

/* menu navegación START */
.dropdown-content li > a, .dropdown-content li > span {
    color: rgb(33,34,64)!important;
    font-family: "open sans";
    font-weight: 400;
}

.nav-container-menu-principal{
  z-index: 0;
}

.nav-menu-principal {
  background-color: rgb(216,232,241);
  opacity: 0.7;
  z-index: 2;
  position: relative;
  top: -6px;
}

.contenido-nav-menu-principal{
  margin-left: 90px;
}

.categoria-menu-inico{
  color: rgb(0,136,204);
  font-family: "open sans";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.categoria-menu {
  color: rgb(33,34,64);
  font-family: "open sans";
  font-weight: 700;
  font-size: 14px;
}
.categoria-menu:hover {
  background: inherit;
  color: rgb(0,136,204);
}

.icono-menu {
  color: rgb(33,34,64);
}
/* menu navegación END */
/* header END */
.headerClearFix{
  all: none;
}

/* MOBILE */
@media (max-width: 1024px) {
    .nav-container-arriba {
    display: none;
    }
    .nav-menu-principal {
    opacity: 1;
    }
}
@media (max-width: 600px) {
/* Styles for screen with max width of 600px */
    .nav-container-arriba {
    display: none;
    }
    .nav-menu-principal {
    opacity: 1;
    }
}
@media (max-width: 320px) {
/* Styles for screen with max width of 320px */
    .nav-container-arriba {
    display: none;
      }
    .nav-menu-principal {
    opacity: 1;
      }
}
