/* Corousel START*/
.carousel-slider{
  height: 350px!important;
  position: relative!important;
  top: -70px!important;
}


.carousel-fixed-item{
height: 200px;
}

.icono-flecha {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 48px !important;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.prev {
  background-color: transparent!important;
  float: left;
}

.next {
  background-color: transparent!important;
  float: right;
}

.middle-indicator{
   position:absolute;
   top:50%;
   cursor: pointer;
   }

.middle-indicator-text{
   transition: 0.6s ease;
  }

a.middle-indicator-text{
    color: white !important;
  }

.middle-indicator-text:hover{
  background-color: rgb(0,136,204) !important;
  font-size: 36px !important;
}


.btn-corousel {
  background-color: rgb(0,136,204) !important;
  border-radius: 15px !important;
  position: relative;
  top: 500px;
}

.btn-corousel:hover::before {
  opacity:1;
  background-color: rgb(176,123,182);
}

.btn-corousel:before {
  content: '';
  opacity: 0;
  background-color: rgb(176,123,182);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity .2s;
  z-index: -1;
}

.imagen-corousel{
  width: 100%;
  height: 650px;
  filter: brightness(50%);
}

.titulo-corousel {
  font-size: 48px;
  position: relative;
  top: 95px;
  color: white;
  font-weight: 600;
  font-family: "open sans";
  width: 70%;
  margin: auto;
}
/* corousel END */
/* Servicios START */
.titulo-services{
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(33,34,64);
}

.titulo-padding {
  margin-top: 0px!important;
}

body p {
  color: rgb(120,120,120);
  font-size: 16px;
  text-align: justify;
}

.container {
  max-width: 1280px;
  width: 70% !important;
  font-family: "open sans";
}
@media only screen and (min-width: 601px) {
  .container {
    width: 75% !important;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 80% !important;
  }
}

.row {
  text-align: justify;
}

.card-services {
  height: 450px;
  border-radius: 10px!important;
}

.card-title {
  font-weight: 400 !important;
  margin-top: 0px!important;
  text-align: center;
  color: rgb(33,34,64);
}

.card-image {
  border-radius: 10px 10px 0 0!important;
}

.services-texto {
  height: 50px !important;
}

.icono-cards {
  background-color: rgb(0,136,204) !important;
}

.container-btn{
  display: flex;
  justify-content: center;
}

.btn-servicios {
  background-color: rgb(0,136,204) !important;
  border-radius: 15px !important;
  font-family:"open sans";
}

.btn-servicios:hover::before {
  opacity:1;
  background-color: rgb(176,123,182));
}

.btn-servicios:before {
  content: '';
  opacity: 0;
  background-color: rgb(176,123,182);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity .2s;
  z-index: -1;
}
/*  	Servicios END 	*/
/*  banner personal START */
.container-bannerpersonal {
  background-image: url(http://galaxyanalytics.net/demos/psycology/img/persone-bg.jpg);
  width: 100%;
  height: 300px;
  margin-top: 50px;
}

.imagen-alineada{
  width: 100%;
  height: auto;
  display: inline-flex;
  justify-content: center;
  margin-top: 25px;
}

.foto-bannerpersonal{
  max-width: 220px;
  max-height: 240px;
}

.container-texto-bannerpersonal {
 width: 100%;
 padding-right: 65px;
 font-family: "open sans";
}

.titulo-bannerpersonal {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  line-height: 70%;
}

.subtitulo-bannerpersonal {
  letter-spacing: 2px;
  font-style: italic;
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: -5px;
}

.texto-bannerpersonal {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}

.icono-telefono-banner{
  color: rgb(255, 255, 255);
  font-size: 40px !important;
  position: relative;
  right: -10px;
  bottom: -11px;
  margin-right: 20px;
}

.telefono-banner{
  font-size: 34px !important;
  font-weight: 600;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  font-family:"open sans";
  transition: all 150ms linear;
}

.telefono-banner:hover{
  color: rgb(0,136,204);
}
/*  banner personal END */
/* 	EQUIPO START 	*/

.titulo-faq{
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(33,34,64);
  padding-top: 20px;
  text-align: center;
}

/* 	Accordeon-FAQ-START 	*/
.collapsible {
width: 70%;
margin: 2% 15% 5% 15%!important;
}

.collapsible-header {
  color: rgb(120,120,120);
}

.collapsible-body {
  white-space: pre-wrap;
  color: rgb(120,120,120);
}

.collapsible-icono{
  color: rgb(0,136,204) !important;
  font-weight: 800 !important;
  margin-left: 15px;
}
/* 	Accordeon-FAQ-END 	*/
/* 	EQUIPO END 	*/
/*  Últimas publicaciones  START */
/*.titulo-publicaciones {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(33,33,33);
}

.card-title-publicaciones {
  font-weight: 400 !important;
  margin-top: 0px!important;
  text-align: center;
}

.read-more {
  color: rgb(0,136,204) !important;
  font-weight: 800;
  font-size: 13px;
  text-transform: uppercase;
  transition: all 150ms linear;
}

.read-more:hover {
 color: rgb(176,123,182) !important;
}

.badge-publicaciones {
  position: absolute;
  bottom: 150px;
  right: 210px;
  background-color: rgb(0,136,204) !important;
  color: rgb(255,255,255)  !important;;
  font-size: 14px !important;
  border-radius: 3px;
  padding: 0px 10px 0px 10px  !important;
}
@media (max-width: 600px) {
    .badge-publicaciones {
    right: 110px;
    }
    .titulo-publicaciones {
      text-align: center;
    }
}
@media (max-width: 320px) {
    .badge-publicaciones {
    right: 110px;
      }
    .titulo-publicaciones {
        text-align: center;
      }
}*/
/*  Últimas publicaciones EHND */
/* Mapa start */
#map {
  height: 280px;
  width: 100%;
}

/* Mapa END */
/* MOBILE */
@media (max-width: 1650px) {
  .card-services {
    height: 495px;
  }
}
@media (max-width: 1024px) {
    .titulo-corousel{
      top: 75px;
    }
    .card-services {
      height: 485px;
    }
    .titulo-bannerpersonal{
      font-size: 20px;
      font-weight: 600;
      margin-top: 50px;
    }
    .subtitulo-bannerpersonal{
      font-size: 16px;
      margin-bottom: 10px;
    }
    .texto-bannerpersonal{
      font-size: 14px;
      margin-top: 0px;
    }
    .telefono-banner {
      font-size: 20px !important;
    }
    .icono-telefono-banner{
      font-size: 24px!important;
      right: -10px;
      bottom: -5px;
    }
}

@media (max-width: 600px) {
/* Styles for screen with max width of 600px */
    .titulo-corousel {
      position: relative!important;
      color: white;
      font-weight: 800;
      width: 100%;
      margin: auto;
      top: 100px;
      font-size: 35px;
      text-align: center;
    }
    .icono-flecha {
      display: none!important;
    }
    .titulo-services {
     position: relative;
     top: -25px;
     text-align: center;
    }
    .container-texto-bannerpersonal{
      padding-right: 0px;
    }
    .foto-bannerpersonal {
      max-width: 120px;
      max-height: 140px;
    }
    .titulo-bannerpersonal {
    text-align: center;
    padding-top: 8px;
    margin-top: 15px;
    }
    .subtitulo-bannerpersonal{
      text-align: center;
      margin-left: 12.5%;
      margin-right: 12.5%;
    }
    .texto-bannerpersonal{
      color: rgb(120,120,120);
      text-align: justify;
      margin-left: 12.5%;
      margin-right: 12.5%;
      margin-top: 30px!important;
    }
    .icono-telefono-banner {
      color:rgb(33,34,64);
      margin-left: 12.5%;
      margin-left: 12.5%;
      font-size: 30px!important;
      position: relative;
      top: 7px;
      margin-bottom: 60px!important;
    }
    .telefono-banner{
      color: rgb(33,34,64);
      font-size: 24px!important;
    }
    .titulo-faq{
      padding-top: 40px;
    }
    .collapsible {
    width: 100%;
    position: relative;
    margin: 2% 0% 10% 0%!important;
    }
}
@media (max-width: 320px) {
/* Styles for screen with max width of 320px */
    .titulo-corousel {
      position: relative!important;
      color: white;
      font-weight: 800;
      width: 100%;
      margin: auto;
      top: 80px;
      font-size: 35px;
      text-align: center;
    }
    .icono-flecha {
      display: none!important;
    }
    .titulo-services {
     position: relative;
     top: -25px;
     text-align: center;
    }
    .card-services {
      height: 525px;
    }
    .container-texto-bannerpersonal{
      padding-right: 0px;
    }
    .foto-bannerpersonal {
      max-width: 120px;
      max-height: 140px;
    }
    .titulo-bannerpersonal {
    text-align: center;
    padding-top: 8px;
    margin-top: 15px;
    }
    .subtitulo-bannerpersonal{
      text-align: center;
      margin-left: 12.5%;
      margin-right: 12.5%;
    }
    .texto-bannerpersonal{
      color: rgb(120,120,120);
      text-align: justify;
      margin-left: 12.5%;
      margin-right: 12.5%;
      margin-top: 30px!important;
    }
    .icono-telefono-banner {
      color:rgb(33,34,64);
      margin-left: 12.5%;
      margin-left: 12.5%;
      font-size: 30px!important;
      position: relative;
      top: 7px;
      margin-bottom: 60px!important;
    }
    .telefono-banner{
      color: rgb(33,34,64);
      font-size: 24px!important;
    }
    .titulo-faq{
      padding-top: 40px;
    }
    .collapsible {
    width: 100%;
    position: relative;
    margin: 2% 0% 10% 0%!important;
    }
}
.banner-blue {
    background: #0088CC;
    padding: 20px 0;
}
