.parallax-container {
  height: 300px!important;
  width: 100%;
  position: relative;
  top: -70px;
  z-index: 0;
}

.img-parallax {
  filter: brightness(50%);
}

.titulo-noEncontrado{
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  margin-left: 10%;
  margin-top: 150px;
}
@media (max-width: 1024px) {
    .titulo-parallax {
      font-size: 38px;
    }
}
@media (max-width: 600px) {
    .titulo-parallax {
      font-size: 36px;
      margin-top: 145px;
    }
}
@media (max-width: 320px) {
    .titulo-parallax {
      font-size: 36px;
    }
}

.subtitulo-noencontrado {
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin-left: 10%;
}
