/* Parallax superior START */
.parallax-container {
  height: 300px!important;
  width: 100%;
  position: relative;
  top: -70px;
  z-index: 0;
}

.img-parallax {
  filter: brightness(50%);
}

.titulo-parallax{
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  margin-left: 10%;
  margin-top: 175px;
}
@media (max-width: 1024px) {
    .titulo-parallax {
      font-size: 38px;
    }
}
@media (max-width: 600px) {
    .titulo-parallax {
      font-size: 36px;
      margin-top: 145px;
    }
}
@media (max-width: 320px) {
    .titulo-parallax {
      font-size: 36px;
    }
}
/* Parallax superior END */
.container-cookie{
  margin-bottom: 70px!important;
}

p {
  color: rgb(137, 137, 137);
  font-size: 16px;
  text-align: justify;
  margin-top: 0px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.p2 {
  margin-top: 30px!important;
}
