/* Parallax superior START */
.parallax-container {
  height: 350px!important;
  width: 100%;
  position: relative;
  top: -70px;
  z-index: 0;
}

.titulo-parallax{
  font-size: 44px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  margin-left: 10%;
  margin-top: 175px;
  font-family: "open sans";
}

.subtitulo-parallax {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  font-family: "open sans";
}

.subtitulo-parallax1 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  font-family: "open sans";
}

.subtitulo-parallax1-1{
  position: relative;
  margin-left: 10%;
  font-family: "open sans";
  color: white;
}

.subtitulo-parallax1:hover {
 color:  rgb(0,136,204) !important;
}

.icono-parallax {
  position: relative;
  top: 2px;
  font-weight: 600!important;
  color: white;
}

.img-parallax {
  filter: brightness(35%);
}
/* Parallax superior END */
.titulo-texto {
  font-size: 22px;
  color: rgb(33,34,64);
  font-weight: 700;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  font-family: "open sans";
  margin-top: 0px;
}

p {
  color: rgb(120,120,120);
  font-size: 16px;
  text-align: justify;
  font-family: "open sans";
  white-space: pre-wrap;
}

.fila-check-simptomas1{
  text-align: justify;
  margin-right: 5%!important;
  margin-left: 5%!important;
}


.icono-check{
  color: rgb(0,136,204) !important;
  font-size: 24px !important;
  padding-right: 10px;
  font-weight: 800 !important;
  position: relative;
  top: 6px;
}

.texto-simptomas {
  color: rgb(120,120,120);
  font-size: 16px;
  text-align: justify;
  font-family: "open sans";
}

.container-recuadro {
  padding-bottom: 40px;
  padding-top: 20px;
  font-family: "open sans";
}

.texto-recuadro {
  font-size: 28px;
  color: rgb(50,50,50);
  font-weight: 400;
  background-color: rgba(140,101,211,0.1);
  padding: 25px;
}

.btn-recuadro {
  background-color: rgb(0,136,204)!important;
  border-radius: 15px !important;
  float:right;
  font-weight: 400;
  width: 200px;
}

.btn-recuadro:hover::before {
  opacity:1;
  background-color: rgb(176,123,182);
}

.btn-recuadro:before {
  content: '';
  opacity: 0;
  background-color: rgb(176,123,182);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity .2s;
  z-index: -1;
}

/*MOBILE*/
@media (max-width: 1024px) {
  .btn-recuadro {
    position: relative;
    margin-top: 40px;
    float: none;
    width: 60%;
  }
  .texto-recuadro {
    text-align: center;
  }
  .titulo-parallax{
    font-size: 44px;
    margin-top: 145px;
  }

}

@media (max-width: 600px) {
/* Styles for screen with max width of 600px */
    .btn-recuadro {
      position: relative;
      margin-top: 40px;
      float: none;
      width: 60%;
    }
    .texto-recuadro {
      text-align: center;
    }
    .titulo-parallax{
      font-size: 34px;
      margin-top: 145px;
    }
}
@media (max-width: 320px) {
/* Styles for screen with max width of 320px */
    .btn-recuadro {
      position: relative;
      margin-top: 40px;
      float: none;
      width: 60%;
    }
    .texto-recuadro {
      text-align: center;
    }
}
